
@{
    ViewBag.Title = "IngresoSistema";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="blankpage-form-field">
    <div class="page-logo m-0 w-100 align-items-center justify-content-center rounded border-bottom-left-radius-0 border-bottom-right-radius-0 px-4">
        <a href="https://localhost:44357/" class="page-logo-link press-scale-down d-flex align-items-center">
            <img src="~/Content/portal/images/logotipos-06-only.png" alt="DYA" aria-roledescription="logo" style="width: 56px;">
            <span class="page-logo-text mr-1" style="padding-left: 63px;">Regresar al portal</span>
            <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
        </a>
    </div>
    <div class="card p-4 border-top-left-radius-0 border-top-right-radius-0">
        <form action="intel_introduction.html">
            <div class="form-group">
                <label class="form-label" for="username">Usuario</label>
                <input type="email" id="txt_usuario" class="form-control" placeholder="Ingrese su Usuario">
                <span class="help-block">
                    Ingrese su Usuario
                </span>
            </div>
            <div class="form-group">
                <label class="form-label" for="password">Contraseña</label>
                <input type="password" id="txt_password" class="form-control" placeholder="Ingrese su Password">
                <span class="help-block">
                    Ingrese su Contraseña
                </span>
            </div>
            <div class="form-group text-left">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="rememberme">
                    <label class="custom-control-label" for="rememberme"> Recordar mi usuario por 20 días</label>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="button" id="btn_login" class="btn btn-default" style="width: 150px;">Ingresar</button>
            </div>
        </form>
        <div class="blankpage-footer text-center" style="padding-top: 30px;">
            <a href="#"><strong>Olvido su Contraseña</strong></a> | <a href="https://localhost:44357/Seguridad/NuevoUsuario"><strong>Registrar Nuevo Usuario</strong></a>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/Seguridad/jsIngresoSistema.js")
}