
@{
    ViewBag.Title = "NuevoUsuario";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<div class="page-wrapper">
    <div class="page-inner bg-brand-gradient">
        <div class="page-content-wrapper bg-transparent m-0">
            <nav class="height-10 w-100 shadow-lg px-4" style="background-color: #FFF !important; ">
                <div class="d-flex align-items-center container p-0">
                    <div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9">
                        <a href="https://localhost:44357/" class="page-logo-link" style="margin-right: 150px;">
                            <img src="~/Content/portal/images/logotipos-06.png" alt="" style="width: 80px;">
                        </a>
                    </div>
                    <span class="ml-auto mr-2 hidden-sm-down">
                        ¿Ya tienes usuario?
                    </span>
                    <a href="https://localhost:44357/Seguridad/IngresoSistema" class="ml-auto ml-sm-0">Loguearse</a>
                </div>
            </nav>
            <section class="industries-section" id="sec_industria" style="padding: 95px 0px 55px 0px !important;">
                <div class="pattern-layer">
                    <div class="pattern-1" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-57.png);"></div>
                    <div class="pattern-2" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-58.png);"></div>
                </div>
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                            <div class="content-box">
                                <div class="sec-title text-center light">
                                    <h2 class="fs-xxl fw-500 text-white">
                                        Registrese ahora, ¡es gratis!
                                        <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60 hidden-sm-down" style="font-size: 22px;">
                                            Tu registro tiene 7 dias gratis. Puedes ver el aplicativo en movil, escritorio o tablet.
                                            <br>¡Es hora de registrarse ahora!
                                        </small>
                                    </h2>
                                    <div class="decor" style="background-image: url(https://localhost:44357/Content/portal/images/icons/decor-2.png); margin-top: 10px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                            <div id="content_block_09">
                                <div class="content-box">
                                    <div id="contact-form" class="default-form" style="padding: 40px 50px 56px 50px;">
                                        <div class="form-row">
                                            <label class="col-xl-12 form-label" for="txt_nombre">Datos personales:</label>
                                            <div class="form-group col">
                                                <label><i class="far fa-user"></i>Tu primer nombre</label>
                                                <input type="text" id="txt_nombre" class="form-control" placeholder="Ingrese nombre" required>
                                                <div class="invalid-feedback">Debe ingresar un nombre.</div>
                                            </div>
                                            <div class="form-group col">
                                                <label><i class="far fa-envelope"></i>Apellido</label>
                                                <input type="text" id="txt_apellido" class="form-control" placeholder="Ingrese apellido" required>
                                                <div class="invalid-feedback">Debe ingresar su apellido.</div>
                                            </div>
                                            <div class="form-group col">
                                                <label><i class="far fa-envelope"></i>Nro. Documento</label>
                                                <input type="text" id="txt_documento" class="form-control" pattern="[1-9]{8}" placeholder="Ingrese su DNI" maxlength="8"
                                                       title="Debe ingresar correctamente 8 digitos.">
                                                <div class="invalid-feedback">Debe ingresar su numero de documento.</div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <label class="col-xl-12 form-label" for="txt_nombre">Datos de contacto:</label>
                                            <div class="form-group col">
                                                <label><i class="far fa-user"></i>Correo electronico</label>
                                                <input type="email" id="txt_email" class="form-control" placeholder="Ingrese email" required>
                                                <div class="invalid-feedback">Ingrese su email.</div>
                                                <div class="help-block" style="display:none;">Your email will also be your username</div>
                                            </div>
                                            <div class="form-group col">
                                                <label><i class="far fa-envelope"></i>Celular</label>
                                                <input type="text" id="txt_celular" class="form-control" placeholder="Ingrese celular corporativo" required>
                                                <div class="invalid-feedback">Ingrese su celular corporativo.</div>
                                            </div>
                                            <div class="form-group col">
                                                <label><i class="far fa-envelope"></i>Telefono (Opcional)</label>
                                                <input type="text" id="txt_telefono" class="form-control" placeholder="Ingrese telefono personal">
                                            </div>
                                        </div>
                                        <div class="form-row" style="margin-top: 10px;">
                                            <label class="col-xl-12 form-label" for="txt_usuario">Ingrese su Usuario y Password: <br>Con estas credenciales usted podra ingresar al aplicativo.</label>
                                            <div class="form-group col">
                                                <label><i class="far fa-user"></i>Usuario</label>
                                                <input type="text" id="txt_usuario" class="form-control" placeholder="Ingrese nombre de usuario" required>
                                                <div class="invalid-feedback">Ingrese un nombre de usuario.</div>
                                            </div>
                                            <div class="form-group col">
                                                <label><i class="far fa-envelope"></i>Contraseña</label>
                                                <input type="password" id="txt_password" class="form-control" placeholder="Ingrese contraseña" style="height: 55px;" required>
                                                <div class="invalid-feedback">Campo obligatorio. Debe ingresar una contraseña.</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="chk_terminos_condiciones" required>
                                                <label class="custom-control-label" for="chk_terminos_condiciones"> Acepto los terminos y condiciones</label>
                                                <div class="invalid-feedback">Debe aceptar los terminos y condiciones para poder registrarse.</div>
                                            </div>
                                            <div class="custom-control custom-checkbox" style="display:none;">
                                                <input type="checkbox" class="custom-control-input" id="newsletter">
                                                <label class="custom-control-label" for="newsletter">Sign up for newsletters (dont worry, we won't send so many)</label>
                                            </div>
                                        </div>
                                        <div class="form-group" style="padding-top: 18px;">
                                            <button class="theme-btn style-one" id="btn_registrar" type="submit">Enviar verificación</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/Seguridad/jsNuevoUsuario.js")
}