
@{
    ViewBag.Title = "ContenidoPortal";
    Layout = "~/Views/Shared/_Portal.cshtml";
}

<!--EL CUERPO MAIN-->
<main role="main">
    <!-- banner-section -->
    <section class="banner-section" id="sec_principal">
        <div class="pattern-layer">
            <div class="pattern-1" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-56b.png);"></div>
            <div class="pattern-2" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-55a.png);"></div>
        </div>
        <div class="icon-layer">
            <div class="icon icon-1 rotate-me" style="background-image: url(https://localhost:44357/Content/portal/images/icons/wheel-2.png);"></div>
            <div class="icon icon-2 rotate-me" style="background-image: url(https://localhost:44357/Content/portal/images/icons/wheel-3.png);"></div>
            <div class="icon icon-3 rotate-me" style="background-image: url(https://localhost:44357/Content/portal/images/icons/wheel-4.png);"></div>
            <div class="icon icon-4 rotate-me" style="background-image: url(https://localhost:44357/Content/portal/images/icons/wheel-5.png);"></div>
        </div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div class="content-box">
                        <h1 class="wow slideInLeft" data-wow-delay="000ms" data-wow-duration="1500ms">Transforma información en</h1>
                        <h1 class="wow slideInLeft" data-wow-delay="200ms" data-wow-duration="1500ms" style="color: rgb(64, 152, 116) !important; font-size: 72px;">Conocimiento</h1>
                        <div class="btn-box" style="margin-top: 46px;">
                            <a href="https://localhost:44357/Portal/RedirectUrlSector?p=Demografico" class="theme-btn style-one">Prueba Ahora<span>+</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div class="slider-image-1 clearfix">
                        <figure class="image image-1 wow">
                            <img src="~/Content/portal/images/banner/imagen6.png" alt="">
                        </figure>
                        <figure class="image image-4 float-bob-y">
                            <img src="~/Content/portal/images/dya-images/image5.PNG" alt="" style="width: 190px;">
                        </figure>
                        <figure class="image image-5 float-bob-y">
                            <img src="~/Content/portal/images/banner/imagen3.png" alt="" style="width: 215px;">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end -->
    <!-- industries-section -->
    <section class="industries-section" id="sec_industria">
        <div class="pattern-layer">
            <div class="pattern-1" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-57.png);"></div>
            <div class="pattern-2" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-58.png);"></div>
        </div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                    <div class="content-box">
                        <div class="sec-title text-left light">
                            <h2 style="font-size: 30px;">Ingresa al sector de tu interés <br> y mira  todo lo que puedes hacer <br> con DYA</h2>
                            <div class="decor" style="background-image: url(https://localhost:44357/Content/portal/images/icons/decor-2.png);"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 inner-column">
                    <div class="inner-box-demografico inner-box">
                        <div class="pattern-layer" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-3.png);"></div>
                        <div class="inner">
                            <h4>
                                <a href="javascript:void(0)">Demográfico</a><br>
                                <span style="font-weight: lighter !important; text-align: justify; padding-top: 18px;">
                                    Encuentra a tu público objetivo de manera fácil y rápida, filtrando por sexo, edad o ubicación geográfica.<br>&nbsp;<br>&nbsp;
                                </span>
                            </h4>
                            <div class="btn-box clearfix">
                                <a href="https://localhost:44357/Portal/RedirectUrlSector?p=Demografico" id="hpl_demografico">
                                    <i class="flaticon-arrow"></i>
                                </a>
                            </div>
                            <div class="icon-box"><i class="flaticon-peru"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 inner-column">
                    <div class="inner-box-medico inner-box">
                        <div class="pattern-layer" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-3.png);"></div>
                        <div class="inner">
                            <h4>
                                <a href="javascript:void(0)">Médicos</a><br>
                                <span style="font-weight: lighter !important; text-align: justify; padding-top: 18px;">
                                    Ideal para el sector farmacéutico y de investigación clínica, segmentando a los médicos por ubicación, especialidad o estado.
                                </span>
                            </h4>
                            <div class="btn-box clearfix">
                                <a href="https://localhost:44357/Portal/RedirectUrlSector?p=Medicos" id="hpl_medico">
                                    <i class="flaticon-arrow"></i>
                                </a>
                            </div>
                            <div class="icon-box"><i class="flaticon-medicine"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 inner-column">
                    <div class="inner-box-telecom inner-box">
                        <div class="pattern-layer" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-3.png);"></div>
                        <div class="inner">
                            <h4>
                                <a href="javascript:void(0)">Telecomunicaciones</a><br>
                                <span style="font-weight: lighter !important; text-align: justify; padding-top: 18px;">
                                    Más de 20 millones de números telefónicos identificados por operador.<br>&nbsp;<br>&nbsp;
                                </span>
                            </h4>
                            <div class="btn-box clearfix">
                                <a href="https://localhost:44357/Portal/RedirectUrlSector?p=Telecomunicaciones" id="hpl_telecom">
                                    <i class="flaticon-arrow"></i>
                                </a>
                            </div>
                            <div class="icon-box"><i class="flaticon-radio"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 inner-column">
                    <div class="inner-box-empresarial inner-box">
                        <div class="pattern-layer" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-3.png);"></div>
                        <div class="inner">
                            <h4>
                                <a href="javascript:void(0)">Empresarial</a><br>
                                <span style="font-weight: lighter !important; text-align: justify; padding-top: 18px;">
                                    Accede a los giros de negocio y ubicaciones de las empresas del mercado actual para analizar oportunidades de negocio.
                                </span>
                            </h4>
                            <div class="btn-box clearfix">
                                <a href="https://localhost:44357/Portal/RedirectUrlSector?p=Empresa" id="hpl_empresarial">
                                    <i class="flaticon-arrow"></i>
                                </a>
                            </div>
                            <div class="icon-box"><i class="flaticon-visit"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 inner-column">
                    <div class="inner-box-automotriz inner-box">
                        <div class="pattern-layer" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-3.png);"></div>
                        <div class="inner">
                            <h4>
                                <a href="javascript:void(0)">Automotriz</a><br>
                                <span style="font-weight: lighter !important; text-align: justify; padding-top: 18px;">
                                    Parque automotor del Perú clasificado por marcas, modelos, antigüedad, entre otros.<br>&nbsp;
                                </span>
                            </h4>
                            <div class="btn-box clearfix">
                                <a href="https://localhost:44357/Portal/RedirectUrlSector?p=Automotor" id="hpl_automoto">
                                    <i class="flaticon-arrow"></i>
                                </a>
                            </div>
                            <div class="icon-box"><i class="flaticon-car"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 inner-column">
                    <div class="inner-box-soat inner-box">
                        <div class="pattern-layer" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-3.png);"></div>
                        <div class="inner">
                            <h4>
                                <a href="javascript:void(0)">SOAT</a><br>
                                <span style="font-weight: lighter !important; text-align: justify; padding-top: 18px;">
                                    Conoce la participación del mercado actual, fechas de vencimiento y tipos, todo lo referente a este seguro.<br>&nbsp;
                                </span>
                            </h4>
                            <div class="btn-box clearfix">
                                <a href="https://localhost:44357/Portal/RedirectUrlSector?p=Soat" id="hpl_soat">
                                    <i class="flaticon-arrow"></i>
                                </a>
                            </div>
                            <div class="icon-box"><i class="flaticon-car-insurance"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- industries-section end -->
    <!-- about-style-four -->
    <section class="about-style-four" id="sec_acerca_de">
        <div class="pattern-layer" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-25.png);"></div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div id="image_block_03">
                        <div class="image-box">
                            <div class="pattern-layer rotate-me" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-24.png);"></div>
                            <figure class="image image-1"><img src="~/Content/portal/images/team/business-tec.jpg" alt=""></figure>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div id="content_block_08">
                        <div class="content-box mt-10">
                            <div class="sec-title text-left">
                                <h2>ACERCA DE LA PLATAFORMA</h2>
                                <div class="decor" style="background-image: url(https://localhost:44357/Content/portal/images/icons/decor-1.png);"></div>
                            </div>
                            <div class="text" style="text-align: justify;">
                                <p>
                                    Data y Analítica es una plataforma de inteligencia de negocios que nace con el fin de aprovechar los datos de distintas fuentes públicas,
                                    generando cubos de información de los principales giros de negocio a nivel nacional, con el fin de facilitar la toma de decisiones estratégicas,
                                    operativas, ejecutivas, comerciales, entre otras.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-style-four end -->
    <!-- testimonial-style-two -->
    <section class="testimonial-style-two alternate-2" style="margin: 20px 0px 72px 0px;" id="sec_vis_mis">
        <div class="lower-content">
            <div class="auto-container">
                <div class="testimonial-carousel-2 owl-carousel owl-theme owl-dots-none owl-nav-none">
                    <div class="testimonial-content">
                        <div class="inner-box">
                            <figure class="image-box"><img src="~/Content/portal/images/team/vission-mision.png" alt="" style="height: 435px;"></figure>
                            <div class="content-box">
                                <div class="icon-box" style="background-image: url(https://localhost:44357/Content/portal/images/icons/icon-5.png);"></div>
                                <div class="author-info">
                                    <h4>Visión</h4>
                                    <span class="designation">Lo que aspiramos a ser</span>
                                </div>
                                <div class="text" style="padding-top: 45px;">
                                    <p style="font-size: 22px;">Ser el primer banco de información nacional, implementando cubos multidimensionales de diversidad de fuentes de datos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <div class="inner-box">
                            <figure class="image-box"><img src="~/Content/portal/images/team/vission-mision.png" alt="" style="height: 435px;"></figure>
                            <div class="content-box">
                                <div class="icon-box" style="background-image: url(https://localhost:44357/Content/portal/images/icons/icon-5.png);"></div>
                                <div class="author-info">
                                    <h4>Misión</h4>
                                    <span class="designation">El objetivo a llegar</span>
                                </div>
                                <div class="text" style="padding-top: 45px;">
                                    <p style="font-size: 22px; width: 544px;">Facilitar el acceso a la información, implementando un centro de datos en línea, el cual genere conocimiento y pueda ser usado en un sin fin de negocios o proyectos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial-style-two end -->
    <!-- fun-fact -->
    <section class="fun-fact text-center" id="sec_curioso">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 counter-block">
                    <div class="counter-block-one wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="flaticon-big-data"></i></div>
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="1500" data-stop="100">0</span>M+
                            </div>
                            <h4>De registros</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 counter-block">
                    <div class="counter-block-one wow slideInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="flaticon-brain-1"></i></div>
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="1500" data-stop="50">0</span>+
                            </div>
                            <h4>Bots en linea.</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 counter-block">
                    <div class="counter-block-one wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="flaticon-test"></i></div>
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="1500" data-stop="100">0</span>+
                            </div>
                            <h4>Opciones de búsqueda</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- fun-fact end  -->
    <!-- about-style-five -->
    <section class="about-style-five bg-color-1" id="sec_legalidad">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-7 col-md-6 col-sm-12 content-column">
                    <div id="content_block_10">
                        <div class="content-box">
                            <div class="sec-title text-left">
                                <h2>Autenticidad y protección de datos aplicados en nuestra plataforma</h2>
                                <div class="decor" style="background-image: url(https://localhost:44357/Content/portal/images/icons/decor-1.png);"></div>
                            </div>
                            <div class="text" style="text-align: justify;">
                                <p>
                                    Al momento de implementar este proyecto, se tiene muy en cuenta la vigente ley de protección de datos personales (Ley 29733), ya que como se puede apreciar, no se visualiza,
                                    muestra, exhibe, evidencia o divulga ningún dato de ninguna persona, salvaguardando la identidad de las mismas, ya que entendemos que este es un derecho fundamental de los ciudadanos
                                    peruanos y por ende es nuestro deber tener el mayor cuidado al momento de recopilarla, procesarla e implementarla en nuestra plataforma.<br /><br />
                                    Cabe resaltar que no se vende la información que recopila, procesa o implementa a ninguna empresa, sea nacional o extranjera, lo que si brinda son cuentas para que sus usuarios puedan visualizar cantidades
                                    y porcentajes de cómo se encuentran los diversos sectores del Perú, para que puedan tomar mejores decisiones.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 image-column">
                    <div id="image_block_04">
                        <div class="image-box wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <figure class="image image-2 wow slideInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <a href="~/Content/portal/images/ley-29733/pagina1.jpg" data-fancybox="gallery">
                                    <img src="~/Content/portal/images/ley-29733/pagina1.jpg" alt="" style="margin-left: 115px; width: 70%; border: 1px solid #e0e0e0;">
                                </a>
                                <a href="~/Content/portal/images/ley-29733/pagina2.jpg" data-fancybox="gallery"></a>
                                <a href="~/Content/portal/images/ley-29733/pagina3.jpg" data-fancybox="gallery"></a>
                                <a href="~/Content/portal/images/ley-29733/pagina4.jpg" data-fancybox="gallery"></a>
                                <a href="~/Content/portal/images/ley-29733/pagina5.jpg" data-fancybox="gallery"></a>
                                <a href="~/Content/portal/images/ley-29733/pagina6.jpg" data-fancybox="gallery"></a>
                                <a href="~/Content/portal/images/ley-29733/pagina7.jpg" data-fancybox="gallery"></a>
                            </figure>
                            <div class="pattern-bg" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-37.png);">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-style-five end -->
    <!-- pricing-section -->
    @*<section class="pricing-section" style="margin-bottom: 70px;" id="sec_membresia">
            <div class="title-inner bg-color-pricing">
                <div class="auto-container">
                    <div class="sec-title text-center">
                        <div class="decor" style="background-image: url(https://localhost:44357/Content/portal/images/icons/decor-1.png);"></div>
                    </div>
                </div>
            </div>
            <div class="lower-content">
                <div class="auto-container">
                    <div class="inner-container">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                                <div class="pricing-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <div class="pricing-table">
                                        <div class="table-header">
                                            <div class="header-upper">
                                                <h3>Basico</h3>
                                                <p>Provide standard plan specially for developers & freelancers</p>
                                            </div>
                                            <div class="header-lower">
                                                <h1><span>$</span>149</h1>
                                                <p>Per Month</p>
                                            </div>
                                        </div>
                                        <div class="table-content">
                                            <ul>
                                                <li>Full Acess Library</li>
                                                <li>One User</li>
                                                <li>5 Analytic Report</li>
                                                <li>24/7 Support</li>
                                            </ul>
                                        </div>
                                        <div class="table-footer">
                                            <a href="index-3.html" class="btn-style-eight"><i class="flaticon-next"></i>Siguiente</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                                <div class="pricing-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <div class="pricing-table">
                                        <div class="table-header">
                                            <div class="header-upper">
                                                <h3>Avanzado</h3>
                                                <p>Provide standard plan specially for developers & freelancers</p>
                                            </div>
                                            <div class="header-lower">
                                                <h1><span>$</span>249</h1>
                                                <p>Per Month</p>
                                            </div>
                                        </div>
                                        <div class="table-content">
                                            <ul>
                                                <li>Full Acess Library</li>
                                                <li>One User</li>
                                                <li>5 Analytic Report</li>
                                                <li>24/7 Support</li>
                                            </ul>
                                        </div>
                                        <div class="table-footer">
                                            <a href="index-3.html" class="btn-style-eight"><i class="flaticon-next"></i>Siguiente</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                                <div class="pricing-block-one active-block wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                    <div class="pricing-table">
                                        <div class="table-header">
                                            <div class="header-upper">
                                                <h3>Premium</h3>
                                                <p>Provide standard plan specially for developers & freelancers</p>
                                            </div>
                                            <div class="header-lower">
                                                <h1><span>$</span>249</h1>
                                                <p>Per Month</p>
                                            </div>
                                        </div>
                                        <div class="table-content">
                                            <ul>
                                                <li>Full Acess Library</li>
                                                <li>One User</li>
                                                <li>5 Analytic Report</li>
                                                <li>24/7 Support</li>
                                            </ul>
                                        </div>
                                        <div class="table-footer">
                                            <a href="index-3.html" class="btn-style-eight"><i class="flaticon-next"></i>Siguiente</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <!-- pricing-section end -->
    <!-- contact-section -->
    <section class="contact-section alternate-2" style="margin-top: 145px;" id="sec_contacto">
        @*<div class="pattern-layer" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-48.png);"></div>*@
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div id="content_block_09">
                        <div class="content-box">
                            <div id="contact-form" class="default-form">
                                <h3 class="text-center">Si tienes alguna duda o pregunta, <br>Comunicate con nosotros</h3>
                                <br>
                                <div class="form-row" style="margin-top: 10px;">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label><i class="fas fa-user-tie"></i>Tu Nombre / Empresa</label>
                                            <input type="text" id="txt_nombre" placeholder="Ingrese nombre aqui" required>
                                            <div class="invalid-feedback">Debe ingresar su nombre</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label><i class="far fa-envelope"></i>Correo Electrónico</label>
                                            <input type="email" id="txt_email" placeholder="Correo Electrónico" required>
                                            <div class="invalid-feedback">Debe ingresar su correo.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row" style="margin-top: 15px;">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label><i class="fas fa-business-time"></i>¿De qué área nos describe?</label>
                                            <select class="form-control" id="txt_area" required style="height: 55px;">
                                                <option disabled="disabled" selected value="">-- Seleccione --</option>
                                                <option value="Comercial">Comercial</option>
                                                <option value="Marketing">Marketing</option>
                                                <option value="Tecnologia e Información">Tecnologia e Información</option>
                                                <option value="Finanzas">Finanzas</option>
                                                <option value="Gerencia">Gerencia</option>
                                                <option value="Operaciones">Operaciones</option>
                                                <option value="Planificación">Planificación</option>
                                            </select>
                                            <div class="invalid-feedback">Seleccione alguna area de interés.</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label><i class="fas fa-globe"></i>Sector</label>
                                            <select class="form-control" id="txt_sector" required style="height: 55px;">
                                                <option disabled="disabled" selected value="">-- Seleccione --</option>
                                                <option value="Demográfico">Demográfico</option>
                                                <option value="Médicos">Médicos</option>
                                                <option value="Telecomunicaciones">Telecomunicaciones</option>
                                                <option value="Empresarial">Empresarial</option>
                                                <option value="Automotriz">Automotriz</option>
                                                <option value="SOAT">SOAT</option>
                                            </select>
                                            <div class="invalid-feedback">Seleccione un sector.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top: 15px;">
                                    <label><i class="far fa-edit"></i>Tema Referente</label>
                                    <select class="form-control" id="txt_tema" required style="height: 55px;">
                                        <option disabled="disabled" selected value="">-- Seleccione un tema --</option>
                                        <option value="Tengo una pregunta sobre la modalidad de las membresias">Tengo una pregunta sobre la modalidad de las membresias</option>
                                        <option value="Tengo dudas acerca de esta industria">Tengo dudas acerca de esta industria</option>
                                        <option value="Dudas sobre el funcionamiento del dashboard">Dudas sobre el funcionamiento del dashboard</option>
                                        <option value="Problemas con el dashboard">Problemas con el dashboard</option>
                                        <option value="Otros">Otros</option>
                                    </select>
                                    <div class="invalid-feedback">Seleccione un tema de conversación.</div>
                                </div>
                                <div class="form-group">
                                    <label><i class="fas fa-text-height"></i>Pregunta / Comentario</label>
                                    <textarea id="txt_cuerpo_contenido" required></textarea>
                                    <div class="invalid-feedback">Debe tener mas de 20 caracteres.</div>
                                </div>
                                <div class="form-group">
                                    <button class="theme-btn style-one" type="submit" name="submit-form" id="btn_enviar">Enviar mensaje</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div class="image-box wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <figure class="image js-tilt" style="padding-top: 58px;">
                            <img src="~/Content/portal/images/team/contact-us.png" alt="" style="width: 1138px; height: 750px;">
                        </figure>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact-section end -->
</main>

<!-- main-footer -->
<footer class="main-footer">
    <div class="footer-top">
        <div class="auto-container">
            <div class="copyright pull-left">
                <p style="color: rgba(255, 255, 255, 0.6);">Copyright &copy; DyA, Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>
<!-- main-footer end -->
<!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="fas fa-angle-up"></span>
</button>

@section scripts{
    @Scripts.Render("~/Scripts/Portal/jsContactarCorreo.js")
}
