
@{
    ViewBag.Title = "ContenidoPortal";
    Layout = "~/Views/Shared/_Portal.cshtml";
}

<!--EL CUERPO MAIN-->
<main role="main">
    <!-- banner-section -->
    <section class="banner-section" id="sec_principal">
        <div class="pattern-layer">
            <div class="pattern-1" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-56b.png);"></div>
            <div class="pattern-2" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-55a.png);"></div>
        </div>
        <div class="icon-layer">
            <div class="icon icon-1 rotate-me" style="background-image: url(https://localhost:44357/Content/portal/images/icons/wheel-2.png);"></div>
            <div class="icon icon-2 rotate-me" style="background-image: url(https://localhost:44357/Content/portal/images/icons/wheel-3.png);"></div>
            <div class="icon icon-3 rotate-me" style="background-image: url(https://localhost:44357/Content/portal/images/icons/wheel-4.png);"></div>
            <div class="icon icon-4 rotate-me" style="background-image: url(https://localhost:44357/Content/portal/images/icons/wheel-5.png);"></div>
        </div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div class="content-box">
                        <h1 class="wow slideInLeft" data-wow-delay="000ms" data-wow-duration="1500ms">Transforma información en</h1>
                        <h1 class="wow slideInLeft" data-wow-delay="200ms" data-wow-duration="1500ms" style="color: rgb(64, 152, 116) !important; font-size: 75px;">Conocimiento</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div class="slider-image-1 clearfix">
                        <figure class="image image-1 wow">
                            <img src="~/Content/portal/images/banner/imagen6.png" alt="">
                        </figure>
                        <figure class="image image-4 float-bob-y">
                            <img src="~/Content/portal/images/dya-images/image5.PNG" alt="" style="width: 190px;">
                        </figure>
                        <figure class="image image-5 float-bob-y">
                            <img src="~/Content/portal/images/banner/imagen3.png" alt="" style="width: 215px;">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end -->
    <!-- industries-section -->
    <section class="industries-section" id="sec_industria">
        <div class="pattern-layer">
            <div class="pattern-1" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-57.png);"></div>
            <div class="pattern-2" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-58.png);"></div>
        </div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                    <div class="content-box">
                        <div class="sec-title text-left light">
                            <p>Negocios</p>
                            <h2 style="font-size: 30px;">Ingresa al sector de tu interés <br> y mira  todo lo que puedes hacer <br> con DYA</h2>
                            <div class="decor" style="background-image: url(https://localhost:44357/Content/portal/images/icons/decor-2.png);"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 inner-column">
                    <div class="inner-box-demografico inner-box">
                        <div class="pattern-layer" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-3.png);"></div>
                        <div class="inner">
                            <h4>
                                <a href="#" data-toggle="modal" data-target="#modalRRHH">Demográfico</a><br>
                                <span style="font-weight: lighter !important; text-align: justify; padding-top: 18px;">Encuentra a tu público objetivo de manera fácil y rápida, filtrando por sexo, edad o ubicación geográfica en el Perú<br>&nbsp;</span>
                            </h4>
                            <div class="btn-box clearfix">
                                <a href="#" data-toggle="modal" data-target="#modalRRHH"><i class="flaticon-arrow"></i></a>
                            </div>
                            <div class="icon-box"><i class="flaticon-peru"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 inner-column">
                    <div class="inner-box-medico inner-box">
                        <div class="pattern-layer" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-3.png);"></div>
                        <div class="inner">
                            <h4>
                                <a href="#" data-toggle="modal" data-target="#modalMedico">Médico</a><br>
                                <span style="font-weight: lighter !important; text-align: justify; padding-top: 18px;">Ideal para la investigación farmaceutica, segmentando a los médicos de todo el Perú por ubicación geográfica, estado y especialidad</span>
                            </h4>
                            <div class="btn-box clearfix">
                                <a href="#" data-toggle="modal" data-target="#modalMedico">
                                    <i class="flaticon-arrow"></i>
                                </a>
                            </div>
                            <div class="icon-box"><i class="flaticon-medicine"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 inner-column">
                    <div class="inner-box-telecom inner-box">
                        <div class="pattern-layer" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-3.png);"></div>
                        <div class="inner">
                            <h4>
                                <a href="#" data-toggle="modal" data-target="#modalTelecomun">Telecomunicaciones</a><br>
                                <span style="font-weight: lighter !important; text-align: justify; padding-top: 18px;">Más de 20 millones de números telefónicos identificados por los operadores locales<br>&nbsp;</span>
                            </h4>
                            <div class="btn-box clearfix">
                                <a href="#" data-toggle="modal" data-target="#modalTelecomun">
                                    <i class="flaticon-arrow"></i>
                                </a>
                            </div>
                            <div class="icon-box"><i class="flaticon-radio"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 inner-column">
                    <div class="inner-box-empresarial inner-box">
                        <div class="pattern-layer" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-3.png);"></div>
                        <div class="inner">
                            <h4>
                                <a href="#" data-toggle="modal" data-target="#modalEmpresarial">Empresarial</a><br>
                                <span style="font-weight: lighter !important; text-align: justify; padding-top: 18px;">Accede a los rubros y ubicaciones de las empresas del mercado actual para analizar oportunidades de negocio</span>
                            </h4>
                            <div class="btn-box clearfix">
                                <a href="#" data-toggle="modal" data-target="#modalEmpresarial">
                                    <i class="flaticon-arrow"></i>
                                </a>
                            </div>
                            <div class="icon-box"><i class="flaticon-visit"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 inner-column">
                    <div class="inner-box-automotriz inner-box">
                        <div class="pattern-layer" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-3.png);"></div>
                        <div class="inner">
                            <h4>
                                <a href="#" data-toggle="modal" data-target="#modalAutomotriz">Automotriz</a><br>
                                <span style="font-weight: lighter !important; text-align: justify; padding-top: 18px;">Parque automotor del Perú clasificado por marcas, modelos, antigüedad y entre otros caracteristicas más<br>&nbsp;</span>
                            </h4>
                            <div class="btn-box clearfix">
                                <a href="#" data-toggle="modal" data-target="#modalAutomotriz">
                                    <i class="flaticon-arrow"></i>
                                </a>
                            </div>
                            <div class="icon-box"><i class="flaticon-car"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 inner-column">
                    <div class="inner-box-soat inner-box">
                        <div class="pattern-layer" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-3.png);"></div>
                        <div class="inner">
                            <h4>
                                <a href="#" data-toggle="modal" data-target="#modalSOAT">SOAT</a><br>
                                <span style="font-weight: lighter !important; text-align: justify; padding-top: 18px;">Conoce la participación del mercado actual, fechas de vencimiento y tipos, todo referente al SOAT del Perú<br>&nbsp;</span>
                            </h4>
                            <div class="btn-box clearfix">
                                <a href="#" data-toggle="modal" data-target="#modalSOAT">
                                    <i class="flaticon-arrow"></i>
                                </a>
                            </div>
                            <div class="icon-box"><i class="flaticon-car-insurance"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- industries-section end -->
    <!-- about-style-four -->
    <section class="about-style-four" id="sec_acerca_de">
        <div class="pattern-layer" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-25.png);"></div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div id="image_block_03">
                        <div class="image-box">
                            <div class="pattern-layer rotate-me" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-24.png);"></div>
                            <figure class="image image-1"><img src="~/Content/portal/images/team/clouding.png" alt=""></figure>
                            <figure class="image image-2 wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms"><img src="~/Content/portal/images/team/cloud.jpg" alt="" style="width: 270px;"></figure>
                            <figure class="image image-3 wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms"><img src="~/Content/portal/images/team/business-tec.jpg" alt="" style="width: 341px;"></figure>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div id="content_block_08">
                        <div class="content-box mt-10">
                            <div class="sec-title text-left">
                                <h2>ACERCA DE LA PLATAFORMA</h2>
                                <div class="decor" style="background-image: url(https://localhost:44357/Content/portal/images/icons/decor-1.png);"></div>
                            </div>
                            <div class="text" style="text-align: justify;">
                                <p>DYA es una plataforma de inteligencia de negocios que nace con el fin de aprovechar la información de distintas fuentes públicas, generando cubos de información de los principales giros de negocio a nivel nacional, con el fin de facilitar la toma de decisiones estratégicas, operativas, ejecutivas, comerciales, entre otras.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-style-four end -->
    <!-- testimonial-style-two -->
    <section class="testimonial-style-two alternate-2" style="margin: 20px 0px 72px 0px;" id="sec_vis_mis">
        <div class="lower-content">
            <div class="auto-container">
                <div class="testimonial-carousel-2 owl-carousel owl-theme owl-dots-none owl-nav-none">
                    <div class="testimonial-content">
                        <div class="inner-box">
                            <figure class="image-box"><img src="~/Content/portal/images/team/vission-mision.png" alt="" style="height: 435px;"></figure>
                            <div class="content-box">
                                <div class="icon-box" style="background-image: url(https://localhost:44357/Content/portal/images/icons/icon-5.png);"></div>
                                <div class="author-info">
                                    <h4>Visión</h4>
                                    <span class="designation">Lo que aspiramos a ser</span>
                                </div>
                                <div class="text" style="padding-top: 45px;">
                                    <p style="font-size: 22px;">Ser el primer banco de información nacional, implementando cubos multidimensionales de diversidad de fuentes de datos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <div class="inner-box">
                            <figure class="image-box"><img src="~/Content/portal/images/team/vission-mision.png" alt="" style="height: 435px;"></figure>
                            <div class="content-box">
                                <div class="icon-box" style="background-image: url(https://localhost:44357/Content/portal/images/icons/icon-5.png);"></div>
                                <div class="author-info">
                                    <h4>Misión</h4>
                                    <span class="designation">El objetivo a llegar</span>
                                </div>
                                <div class="text" style="padding-top: 45px;">
                                    <p style="font-size: 22px; width: 544px;">Facilitar el acceso a la información, implementando un centro de datos en línea, el cual genere conocimiento y pueda ser usado en un sin fin de negocios o proyectos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial-style-two end -->
    <!-- fun-fact -->
    <section class="fun-fact text-center" id="sec_curioso">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 counter-block">
                    <div class="counter-block-one wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="flaticon-big-data"></i></div>
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="1500" data-stop="100">0</span>M+
                            </div>
                            <h4>De registros</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 counter-block">
                    <div class="counter-block-one wow slideInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="flaticon-brain-1"></i></div>
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="1500" data-stop="50">0</span>+
                            </div>
                            <h4>Bots en linea.</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 counter-block">
                    <div class="counter-block-one wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="flaticon-test"></i></div>
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="1500" data-stop="100">0</span>+
                            </div>
                            <h4>Opciones de búsqueda</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- fun-fact end  -->
    <!-- about-style-five -->
    <section class="about-style-five bg-color-1" id="sec_legalidad">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-7 col-md-6 col-sm-12 content-column">
                    <div id="content_block_10">
                        <div class="content-box">
                            <div class="sec-title text-left">
                                <p>Acerca de legalidad</p>
                                <h2>Autenticidad y protección de datos aplicados en nuestro software</h2>
                                <div class="decor" style="background-image: url(https://localhost:44357/Content/portal/images/icons/decor-1.png);"></div>
                            </div>
                            <div class="text">
                                <p>A través de nuestros algoritmos, descargamos la información de manera masiva para distribuirlo de manera ordenada a todos los sectores publicos del Perú que se encuentre en el sistema.<br><br> Al momento de implementar este proyecto, se tiene muy en cuenta la vigente ley de protección de datos personales (Ley 29733), ya que como se puede apreciar: No se visualiza, muestra, exhibe, evidencia o divulga ningún dato de ninguna persona, salvaguardando la identidad de las mismas, ya que entendemos que este es un derecho fundamental de los ciudadanos peruanos y por ende es nuestro deber tener el mayor cuidado al momento de recopilarla, procesarla e implementarla en nuestro página web "DyA.pe".<br><br>Cabe resaltar que no vende la información que recopila, procesa o implementa a ninguna empresa, sea nacional o extranjera. Lo que si brinda son cuentas para que sus usuarios puedan visualizar cantidades y porcentajes de como se encuentran los diversos sectores del Perú, para que puedan tomar mejores decisiones.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 image-column">
                    <div id="image_block_04">
                        <div class="image-box wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <figure class="image image-2 wow slideInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <a href="~/Content/portal/images/ley-29733/pagina1.jpg" data-fancybox="gallery">
                                    <img src="~/Content/portal/images/ley-29733/pagina1.jpg" alt="" style="margin-left: 60px; height: 600px; border: 1px solid #e0e0e0;">
                                </a>
                                <a href="~/Content/portal/images/ley-29733/pagina2.jpg" data-fancybox="gallery"></a>
                                <a href="~/Content/portal/images/ley-29733/pagina3.jpg" data-fancybox="gallery"></a>
                                <a href="~/Content/portal/images/ley-29733/pagina4.jpg" data-fancybox="gallery"></a>
                                <a href="~/Content/portal/images/ley-29733/pagina5.jpg" data-fancybox="gallery"></a>
                                <a href="~/Content/portal/images/ley-29733/pagina6.jpg" data-fancybox="gallery"></a>
                                <a href="~/Content/portal/images/ley-29733/pagina7.jpg" data-fancybox="gallery"></a>
                            </figure>
                            <div class="pattern-bg" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-37.png);">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-style-five end -->
    <!-- pricing-section -->
    <section class="pricing-section" style="margin-bottom: 70px;" id="sec_membresia">
        <div class="title-inner bg-color-pricing">
            <div class="auto-container">
                <div class="sec-title text-center">
                    <div class="decor" style="background-image: url(https://localhost:44357/Content/portal/images/icons/decor-1.png);"></div>
                </div>
            </div>
        </div>
        <div class="lower-content">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                            <div class="pricing-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <div class="pricing-table">
                                    <div class="table-header">
                                        <div class="header-upper">
                                            <h3>Basico</h3>
                                            <p>Provide standard plan specially for developers & freelancers</p>
                                        </div>
                                        <div class="header-lower">
                                            <h1><span>$</span>149</h1>
                                            <p>Per Month</p>
                                        </div>
                                    </div>
                                    <div class="table-content">
                                        <ul>
                                            <li>Full Acess Library</li>
                                            <li>One User</li>
                                            <li>5 Analytic Report</li>
                                            <li>24/7 Support</li>
                                        </ul>
                                    </div>
                                    <div class="table-footer">
                                        <a href="index-3.html" class="btn-style-eight"><i class="flaticon-next"></i>Siguiente</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                            <div class="pricing-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <div class="pricing-table">
                                    <div class="table-header">
                                        <div class="header-upper">
                                            <h3>Avanzado</h3>
                                            <p>Provide standard plan specially for developers & freelancers</p>
                                        </div>
                                        <div class="header-lower">
                                            <h1><span>$</span>249</h1>
                                            <p>Per Month</p>
                                        </div>
                                    </div>
                                    <div class="table-content">
                                        <ul>
                                            <li>Full Acess Library</li>
                                            <li>One User</li>
                                            <li>5 Analytic Report</li>
                                            <li>24/7 Support</li>
                                        </ul>
                                    </div>
                                    <div class="table-footer">
                                        <a href="index-3.html" class="btn-style-eight"><i class="flaticon-next"></i>Siguiente</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                            <div class="pricing-block-one active-block wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="pricing-table">
                                    <div class="table-header">
                                        <div class="header-upper">
                                            <h3>Premium</h3>
                                            <p>Provide standard plan specially for developers & freelancers</p>
                                        </div>
                                        <div class="header-lower">
                                            <h1><span>$</span>249</h1>
                                            <p>Per Month</p>
                                        </div>
                                    </div>
                                    <div class="table-content">
                                        <ul>
                                            <li>Full Acess Library</li>
                                            <li>One User</li>
                                            <li>5 Analytic Report</li>
                                            <li>24/7 Support</li>
                                        </ul>
                                    </div>
                                    <div class="table-footer">
                                        <a href="index-3.html" class="btn-style-eight"><i class="flaticon-next"></i>Siguiente</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- pricing-section end -->
    <!-- contact-section -->
    <section class="contact-section alternate-2" style="margin-top: 145px;" id="sec_contacto">
        <div class="pattern-layer" style="background-image: url(https://localhost:44357/Content/portal/images/shape/shape-48.png);"></div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div id="content_block_09">
                        <div class="content-box">
                            <form method="post" action="index.html" id="contact-form" class="default-form">
                                <h3 class="text-center">Si tienes alguna duda o pregunta, <br>Comunicate con nosotros</h3>
                                <br>
                                <div class="form-row" style="margin-top: 10px;">
                                    <div class="form-group">
                                        <label><i class="far fa-user"></i>Tu Nombre / Empresa</label>
                                        <input type="text" id="name" name="name" placeholder="Ingrese nombre aqui" required="required">
                                    </div>
                                    <div class="form-group col">
                                        <label><i class="far fa-envelope"></i>Correo Electrónico</label>
                                        <input type="email" id="email" name="email" placeholder="Correo Electrónico" required="required">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label><i class="far fa-envelope"></i>¿De qué área nos describe?</label>
                                        <select class="form-control" id="area" name="area" required="required" style="height: 55px;">
                                            <option disabled="disabled" selected>-- Seleccione --</option>
                                            <option value="Comercial">Comercial</option>
                                            <option value="Marketing">Marketing</option>
                                            <option value="Tecnologia e Información">Tecnologia e Información</option>
                                            <option value="Finanzas">Finanzas</option>
                                            <option value="Gerencia">Gerencia</option>
                                            <option value="Operaciones">Operaciones</option>
                                            <option value="Planificación">Planificación</option>
                                        </select>
                                    </div>
                                    <div class="form-group col">
                                        <label><i class="far fa-envelope"></i>Sector</label>
                                        <select class="form-control" id="sector" name="sector" required="required" style="height: 55px;">
                                            <option disabled="disabled" selected>-- Seleccione --</option>
                                            <option value="Demográfico">Demográfico</option>
                                            <option value="Médico">Médico</option>
                                            <option value="Telecomunicaciones">Telecomunicaciones</option>
                                            <option value="Empresarial">Empresarial</option>
                                            <option value="Automotriz">Automotriz</option>
                                            <option value="SOAT">SOAT</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label><i class="far fa-envelope"></i>Tema Referente</label>
                                    <select class="form-control" id="subject" name="subject" required="required" style="height: 55px;">
                                        <option disabled="disabled" selected>-- Seleccione un tema --</option>
                                        <option value="Tengo una pregunta sobre la modalidad de las membresias">Tengo una pregunta sobre la modalidad de las membresias</option>
                                        <option value="Tengo dudas acerca de esta industria">Tengo dudas acerca de esta industria</option>
                                        <option value="Dudas sobre el funcionamiento del dashboard">Dudas sobre el funcionamiento del dashboard</option>
                                        <option value="Problemas con el dashboard">Problemas con el dashboard</option>
                                        <option value="Otros">Otros</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label><i class="fas fa-text-height"></i>Pregunta / Comentario</label>
                                    <textarea id="message" name="message" required="required"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="theme-btn style-one" type="submit" name="submit-form" id="submit-form" onclick="enviarCorreo()">Enviar mensaje</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div class="image-box wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <figure class="image js-tilt" style="padding-top: 53px;">
                            <img src="~/Content/portal/images/team/contact-us.png" alt="" style="width: 1138px; height: 750px;">
                        </figure>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact-section end -->
</main>

<!-- main-footer -->
<footer class="main-footer">
    <div class="footer-top">
        <div class="auto-container">
            <div class="widget-section">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget contact-widget">
                            <div class="widget-title">
                                <h3>Contáctenos</h3>
                                <div class="decor" style="background-image: url(https://localhost:44357/Content/portal/images/icons/decor-3.png);"></div>
                            </div>
                            <div class="widget-content">
                                <div class="box">
                                    <h5>Correo</h5>
                                    <ul class="clearfix">
                                        <li style="color: rgba(255, 255, 255, 0.6);"><i class="flaticon-gmail"></i>contacto@dya.pe</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget links-widget">
                            <div class="widget-title">
                                <h3>Enlaces</h3>
                                <div class="decor" style="background-image: url(https://localhost:44357/Content/portal/images/icons/decor-3.png);"></div>
                            </div>
                            <div class="widget-content">
                                <div class="row clearfix">
                                    <div class="col-lg-5 col-md-6 col-sm-12 column">
                                        <ul class="links clearfix">
                                            <li><a href="#sec_acerca_de">Acerca del Software</a></li>
                                            <li><a href="#" data-toggle="modal" data-target=".modalVipPremium">Cuenta Premium</a></li>
                                            <li><a href="#sec_industria">Negocios</a></li>
                                            <li><a href="#sec_legalidad">Legalidad</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-7 col-md-6 col-sm-12 column">
                                        <ul class="links clearfix">
                                            <li><a href="#sec_membresia">Tipos de Membresia</a></li>
                                            <li><a href="#sec_contacto">Enviar Correo</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 footer-column">
                        <div class="footer-widget about-widget">
                            <div class="widget-title">
                                <h3>Sobre Nosotros</h3>
                                <div class="decor" style="background-image: url(https://localhost:44357/Content/portal/images/icons/decor-3.png);"></div>
                            </div>
                            <div class="widget-content">
                                <div class="box">
                                    <figure class="logo"><a href="javascript:void(0)"><img src="~/Content/portal/images/footer-logo.png" alt=""></a></figure>
                                    <div class="text">
                                        <p>Nuestra visión es ser el primer banco de información nacional, implementando cubos multidimensionales de diversidad de fuentes de datos.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content">
                                <div class="box">
                                    <figure class="logo"><a href="javascript:void(0)"><img src="~/Content/portal/images/footer-logo.png" alt=""></a></figure>
                                    <div class="text">
                                        <p>Nuestra misión es facilitar el acceso a la información, implementando un centro de datos en línea, el cual genere conocimiento y pueda ser usado en un sin fin de negocios o proyectos.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom style-one">
        <div class="auto-container clearfix">
            <div class="copyright pull-left">
                <p>Copyright &copy; <a href="index.html">DyA</a>, Todos los derechos reservados.</p>
            </div>
            <ul class="footer-nav pull-right">
                <li><a href="javascript:void(0)">Política de Privacidad</a></li>
                <li><a href="javascript:void(0)">Términos y Condiciones</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- main-footer end -->
<!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="fas fa-angle-up"></span>
</button>

<div class="modal fade modalVipPremium">
    <div class="modal-dialog modal-xl" style="margin-top: 60px !important;">
        <div class="modal-content">
            <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                <div class="case-block-two">
                    <div class="inner-box">
                        <div class="row">
                            <div class="col-lg-7 col-md-6">
                                <div class="lower-content">
                                    <div class="service-style-four">
                                        <div class="auto-container">
                                            <div class="sec-title text-center mb-30">
                                                <h3>Obtén tu membresia premium en DyA<br />Y tendrás estos beneficios</h3>
                                                <div class="decor" style="margin-top: 20px; background-image: url(https://localhost:44357/Content/portal/images/icons/decor-1.png);"></div>
                                            </div>
                                            <div class="inner-content">
                                                <div id="content_block_08">
                                                    <div class="content-box mt-10">
                                                        <ul class="list-item clearfix" style="padding-left: 163px;">
                                                            <li>
                                                                <i class="fa fa-check" aria-hidden="true"></i>
                                                                &nbsp;&nbsp;&nbsp;Más de 100 millones de registros.
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check" aria-hidden="true"></i>
                                                                &nbsp;&nbsp;&nbsp;Alrededor de 50 BOTS en línea.
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check" aria-hidden="true"></i>
                                                                &nbsp;&nbsp;&nbsp;Tecnología de punta a tu servicio.
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-check" aria-hidden="true"></i>
                                                                &nbsp;&nbsp;&nbsp;Tecnología de punta a tu servicio.
                                                            </li>
                                                        </ul>
                                                        <div class="btn-box text-center">
                                                            <a href="views/membresia.html" class="theme-btn style-nine">Quiero saber más</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <figure class="image-box">
                                    <img src="~/Content/portal/images/team/premium.PNG" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalRRHH" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="margin-top: 3% !important;">
        <div class="modal-content project-page case-style-three">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <div id="carouselRRHH" class="carousel slide" data-ride="carousel" data-interval="9000">
                            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                                <div class="carousel-item active">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/demo3a.png" alt="" style="height: 543px;">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/demo2.png" alt="" style="height: 543px; filter: blur(5px);">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/demo1a.png" alt="" style="height: 543px; filter: blur(5px);">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/demo3b.png" alt="" style="height: 543px; filter: blur(5px);">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselRRHH" role="button" data-slide="prev">
                                <i class="fa fa-chevron-left fa-lg text-muted"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next text-faded" href="#carouselRRHH" role="button" data-slide="next">
                                <i class="fa fa-chevron-right fa-lg text-muted"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="case-block-two" style="padding-right: 25px;">
                            <div class="inner-box">
                                <div class="lower-content">
                                    <div class="box">
                                        <div class="icon-box"><i class="flaticon-vision"></i></div>
                                        <p>Demográfico</p>
                                        <h4>Titulo 1</h4>
                                    </div>
                                    <div class="text" style="text-align: justify;">
                                        <p>
                                            Descripcion 1 Descripcion 1 Descripcion 1 Descripcion 1
                                            Descripcion 1Descripcion 1Descripcion 1Descripcion 1Descripcion 1
                                            Descripcion 1Descripcion 1Descripcion 1Descripcion 1Descripcion 1
                                            Descripcion 1Descripcion 1Descripcion 1Descripcion 1
                                        </p>
                                    </div>
                                    <div class="link"><a href="#" class="btn-style-four">Comenzar ahora<span>+</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalMedico" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="margin-top: 3% !important;">
        <div class="modal-content project-page case-style-three">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <div id="carouselMedico" class="carousel slide" data-ride="carousel" data-interval="9000">
                            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                                <div class="carousel-item active">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/medico3.png" alt="" style="height: 543px;">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/medico2.png" alt="" style="height: 543px; filter: blur(5px);">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/medico1.png" alt="" style="height: 543px; filter: blur(5px);">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/medico4.png" alt="" style="height: 543px; filter: blur(5px);">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselMedico" role="button" data-slide="prev">
                                <i class="fa fa-chevron-left fa-lg text-muted"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next text-faded" href="#carouselMedico" role="button" data-slide="next">
                                <i class="fa fa-chevron-right fa-lg text-muted"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="case-block-two" style="padding-right: 25px;">
                            <div class="inner-box">
                                <div class="lower-content">
                                    <div class="box">
                                        <div class="icon-box"><i class="flaticon-vision"></i></div>
                                        <p>Médico</p>
                                        <h4>Titulo 1</h4>
                                    </div>
                                    <div class="text" style="text-align: justify;">
                                        <p>
                                            Descripcion 1 Descripcion 1 Descripcion 1 Descripcion 1
                                            Descripcion 1Descripcion 1Descripcion 1Descripcion 1Descripcion 1
                                            Descripcion 1Descripcion 1Descripcion 1Descripcion 1Descripcion 1
                                            Descripcion 1Descripcion 1Descripcion 1Descripcion 1
                                        </p>
                                    </div>
                                    <div class="link"><a href="#" class="btn-style-four">Comenzar ahora<span>+</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalTelecomun" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="margin-top: 3% !important;">
        <div class="modal-content project-page case-style-three">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <div id="carouselTelecomun" class="carousel slide" data-ride="carousel" data-interval="9000">
                            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                                <div class="carousel-item active">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/telecom1.png" alt="" style="height: 543px;">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/telecom2.png" alt="" style="height: 543px; filter: blur(5px);">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/empresa4.png" alt="" style="height: 543px; filter: blur(5px);">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/empresa3.png" alt="" style="height: 543px; filter: blur(5px);">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselTelecomun" role="button" data-slide="prev">
                                <i class="fa fa-chevron-left fa-lg text-muted"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next text-faded" href="#carouselTelecomun" role="button" data-slide="next">
                                <i class="fa fa-chevron-right fa-lg text-muted"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="case-block-two" style="padding-right: 25px;">
                            <div class="inner-box">
                                <div class="lower-content">
                                    <div class="box">
                                        <div class="icon-box"><i class="flaticon-vision"></i></div>
                                        <p>Demográfico</p>
                                        <h4>Titulo 1</h4>
                                    </div>
                                    <div class="text" style="text-align: justify;">
                                        <p>
                                            Descripcion 1 Descripcion 1 Descripcion 1 Descripcion 1
                                            Descripcion 1Descripcion 1Descripcion 1Descripcion 1Descripcion 1
                                            Descripcion 1Descripcion 1Descripcion 1Descripcion 1Descripcion 1
                                            Descripcion 1Descripcion 1Descripcion 1Descripcion 1
                                        </p>
                                    </div>
                                    <div class="link"><a href="#" class="btn-style-four">Comenzar ahora<span>+</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalEmpresarial" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="margin-top: 3% !important;">
        <div class="modal-content project-page case-style-three">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <div id="carouselEmpresarial" class="carousel slide" data-ride="carousel" data-interval="9000">
                            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                                <div class="carousel-item active">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/empresa3.png" alt="" style="height: 543px;">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/empresa2.png" alt="" style="height: 543px; filter: blur(5px);">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/empresa1.png" alt="" style="height: 543px; filter: blur(5px);">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/empresa4.png" alt="" style="height: 543px; filter: blur(5px);">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselEmpresarial" role="button" data-slide="prev">
                                <i class="fa fa-chevron-left fa-lg text-muted"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next text-faded" href="#carouselEmpresarial" role="button" data-slide="next">
                                <i class="fa fa-chevron-right fa-lg text-muted"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="case-block-two" style="padding-right: 25px;">
                            <div class="inner-box">
                                <div class="lower-content">
                                    <div class="box">
                                        <div class="icon-box"><i class="flaticon-vision"></i></div>
                                        <p>Demográfico</p>
                                        <h4>Titulo 1</h4>
                                    </div>
                                    <div class="text" style="text-align: justify;">
                                        <p>
                                            Descripcion 1 Descripcion 1 Descripcion 1 Descripcion 1
                                            Descripcion 1Descripcion 1Descripcion 1Descripcion 1Descripcion 1
                                            Descripcion 1Descripcion 1Descripcion 1Descripcion 1Descripcion 1
                                            Descripcion 1Descripcion 1Descripcion 1Descripcion 1
                                        </p>
                                    </div>
                                    <div class="link"><a href="#" class="btn-style-four">Comenzar ahora<span>+</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAutomotriz" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="margin-top: 3% !important;">
        <div class="modal-content project-page case-style-three">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <div id="carouselAutomotriz" class="carousel slide" data-ride="carousel" data-interval="9000">
                            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                                <div class="carousel-item active">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/automoto2.png" alt="" style="height: 543px;">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/automoto1.png" alt="" style="height: 543px; filter: blur(5px);">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/automoto3.png" alt="" style="height: 543px; filter: blur(5px);">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/automoto4.png" alt="" style="height: 543px; filter: blur(5px);">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselAutomotriz" role="button" data-slide="prev">
                                <i class="fa fa-chevron-left fa-lg text-muted"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next text-faded" href="#carouselAutomotriz" role="button" data-slide="next">
                                <i class="fa fa-chevron-right fa-lg text-muted"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="case-block-two" style="padding-right: 25px;">
                            <div class="inner-box">
                                <div class="lower-content">
                                    <div class="box">
                                        <div class="icon-box"><i class="flaticon-vision"></i></div>
                                        <p>Demográfico</p>
                                        <h4>Titulo 1</h4>
                                    </div>
                                    <div class="text" style="text-align: justify;">
                                        <p>
                                            Descripcion 1 Descripcion 1 Descripcion 1 Descripcion 1
                                            Descripcion 1Descripcion 1Descripcion 1Descripcion 1Descripcion 1
                                            Descripcion 1Descripcion 1Descripcion 1Descripcion 1Descripcion 1
                                            Descripcion 1Descripcion 1Descripcion 1Descripcion 1
                                        </p>
                                    </div>
                                    <div class="link"><a href="#" class="btn-style-four">Comenzar ahora<span>+</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalSOAT" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="margin-top: 3% !important;">
        <div class="modal-content project-page case-style-three">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <div id="carouselSOAT" class="carousel slide" data-ride="carousel" data-interval="9000">
                            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                                <div class="carousel-item active">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/soat1.png" alt="" style="height: 543px;">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/soat2.png" alt="" style="height: 543px; filter: blur(5px);">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/soat3.png" alt="" style="height: 543px; filter: blur(5px);">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="masonry-item small-column all finance banking entertainment marketing healthcare">
                                        <div class="case-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box">
                                                    <img src="~/Content/portal/images/graficos/soat4.png" alt="" style="height: 543px; filter: blur(5px);">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselSOAT" role="button" data-slide="prev">
                                <i class="fa fa-chevron-left fa-lg text-muted"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next text-faded" href="#carouselSOAT" role="button" data-slide="next">
                                <i class="fa fa-chevron-right fa-lg text-muted"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="case-block-two" style="padding-right: 25px;">
                            <div class="inner-box">
                                <div class="lower-content">
                                    <div class="box">
                                        <div class="icon-box"><i class="flaticon-vision"></i></div>
                                        <p>Demográfico</p>
                                        <h4>Titulo 1</h4>
                                    </div>
                                    <div class="text" style="text-align: justify;">
                                        <p>
                                            Descripcion 1 Descripcion 1 Descripcion 1 Descripcion 1
                                            Descripcion 1Descripcion 1Descripcion 1Descripcion 1Descripcion 1
                                            Descripcion 1Descripcion 1Descripcion 1Descripcion 1Descripcion 1
                                            Descripcion 1Descripcion 1Descripcion 1Descripcion 1
                                        </p>
                                    </div>
                                    <div class="link"><a href="#" class="btn-style-four">Comenzar ahora<span>+</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

