
@{
    ViewBag.Title = "Automotor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0);">Inicio</a></li>
    <li class="breadcrumb-item">Dashboard</li>
    <li class="breadcrumb-item active">Automotor</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date" id="fecha"></span></li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class="subheader-icon fal fa-chart-area"></i> Dashboard <span class="fw-300">Automotor</span>
    </h1>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Ubicación geográfica
                </h2>
                <div class="panel-toolbar pr-3 align-self-end">
                    <ul id="demo_panel-tabs" class="nav nav-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab_automotor_ubicacion" role="tab">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab_automotor_ubicacion_detalle" role="tab">Detalle</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen" onclick="ListarDemograficoUbicacion();"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="tab-content p-3">
                        <div class="tab-pane fade show active" id="tab_automotor_ubicacion" role="tabpanel">
                            <div id="dashboard-ubicacion" style="min-height: 385px;"></div>
                        </div>
                        <div class="tab-pane fade" id="tab_automotor_ubicacion_detalle" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" id="dt-tabla-ubicacion" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Nro. item</th>
                                            <th>Departamento</th>
                                            <th>Porcentaje</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Tipo de Carga
                </h2>
                <div class="panel-toolbar pr-3 align-self-end">
                    <ul id="demo_panel-tabs" class="nav nav-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab_automotor_tipo_vehiculo" role="tab">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab_automotor_tipo_vehiculo_detalle" role="tab">Detalle</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen" onclick="ListarSoatTipoVehiculo();"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="tab-content p-3">
                        <div class="tab-pane fade show active" id="tab_automotor_tipo_vehiculo" role="tabpanel">
                            <div id="dashboard-tipo-vehiculo" style="min-height: 300px;"></div>
                        </div>
                        <div class="tab-pane fade" id="tab_automotor_tipo_vehiculo_detalle" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" id="dt-tabla-tipo-vehiculo" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Nro. item</th>
                                            <th>Tipo</th>
                                            <th>Porcentaje</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div id="panel-2" class="panel">
            <div class="panel-hdr">
                <h2>
                    Tipo de propietario
                </h2>
                <div class="panel-toolbar pr-3 align-self-end">
                    <ul id="demo_panel-tabs" class="nav nav-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab_automotor_tipo_persona" role="tab">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab_automotor_tipo_persona_detalle" role="tab">Detalle</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen" onclick="ListarSoatTipo();"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="tab-content p-3">
                        <div class="tab-pane fade show active" id="tab_automotor_tipo_persona" role="tabpanel">
                            <div id="dashboard-tipo-persona" style="min-height: 300px;"></div>
                        </div>
                        <div class="tab-pane fade" id="tab_automotor_tipo_persona_detalle" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" id="dt-tabla-tipo-persona" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Nro. item</th>
                                            <th>Tipo</th>
                                            <th>Porcentaje</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="panel-3" class="panel">
            <div class="panel-hdr">
                <h2>
                    Marca
                </h2>
                <div class="panel-toolbar pr-3 align-self-end">
                    <ul id="demo_panel-tabs" class="nav nav-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab_automotor_marca" role="tab">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab_automotor_marca_detalle" role="tab">Detalle</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen" onclick="ListarSoatSeguro();"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="tab-content p-3">
                        <div class="tab-pane fade show active" id="tab_automotor_marca" role="tabpanel">
                            <div id="dashboard-marca" style="min-height: 300px;"></div>
                        </div>
                        <div class="tab-pane fade" id="tab_automotor_marca_detalle" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" id="dt-tabla-marca" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Nro. item</th>
                                            <th>Marca</th>
                                            <th>Porcentaje</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="panel-4" class="panel">
            <div class="panel-hdr">
                <h2>
                    Año de fabricación
                </h2>
                <div class="panel-toolbar pr-3 align-self-end">
                    <ul id="demo_panel-tabs" class="nav nav-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab_automotor_anio_fabricacion" role="tab">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab_automotor_anio_fabricacion_detalle" role="tab">Detalle</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen" onclick="ListarSoatVencimiento();"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="tab-content p-3">
                        <div class="tab-pane fade show active" id="tab_automotor_anio_fabricacion" role="tabpanel">
                            <div id="dashboard-anio-fabricacion" style="min-height: 400px;"></div>
                        </div>
                        <div class="tab-pane fade" id="tab_automotor_anio_fabricacion_detalle" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" id="dt-tabla-anio-fabricacion" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Nro. item</th>
                                            <th>Año</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding-top: 15px;">
        <p style="font-size: 15px;">
            Fuente: &nbsp;&nbsp;<a href="javascript:void(0)" onclick="window.open('https://www.sunarp.gob.pe/ConsultaVehicular/');">
                https://www.sunarp.gob.pe/ConsultaVehicular/
            </a>
        </p>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/Scripts/Dashboard/Automotor.js")
}