
@{
    ViewBag.Title = "Medicos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0);">Inicio</a></li>
    <li class="breadcrumb-item">Dashboard</li>
    <li class="breadcrumb-item active">Médicos</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date" id="fecha"></span></li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class="subheader-icon fal fa-chart-area"></i> Dashboard <span class="fw-300">Médicos</span>
    </h1>
</div>

<div class="row header-medico1">
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr tittle-responsive-medico1" style="display: none;">
                <h2>
                    Ubicación geográfica
                </h2>
            </div>
            <div class="panel-hdr tittle-responsive-fullscreen">
                <h2 class="titulo-responsive-none">
                    Ubicación geográfica
                </h2>
                <div class="panel-toolbar pr-3 align-self-end">
                    <ul id="demo_panel-tabs" class="nav nav-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab_medico_ubicacion" role="tab">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab_medico_ubicacion_detalle" role="tab">Detalle</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-toolbar pt-2">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen" onclick="ListarMedicoUbicacion();"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="tab-content p-3">
                        <div class="tab-pane fade show active" id="tab_medico_ubicacion" role="tabpanel">
                            <div id="dashboard-ubicacion" style="min-height: 385px;"></div>
                        </div>
                        <div class="tab-pane fade" id="tab_medico_ubicacion_detalle" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" id="dt-tabla-ubicacion" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Nro. item</th>
                                            <th>Departamento</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div id="panel-3" class="panel">
            <div class="panel-hdr tittle-responsive-medico2" style="display: none;">
                <h2>
                    Grado
                </h2>
            </div>
            <div class="panel-hdr tittle-responsive-fullscreen">
                <h2 class="titulo-responsive-none">
                    Grado
                </h2>
                <div class="panel-toolbar pr-3 align-self-end">
                    <ul id="demo_panel-tabs" class="nav nav-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab_medico_grado" role="tab">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab_medico_grado_detalle" role="tab">Detalle</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-toolbar pt-2">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen" onclick="ListarMedicoGrado();"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="tab-content p-3">
                        <div class="tab-pane fade show active" id="tab_medico_grado" role="tabpanel">
                            <div id="dashboard-grado" style="min-height: 385px;"></div>
                        </div>
                        <div class="tab-pane fade" id="tab_medico_grado_detalle" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" id="dt-tabla-grado" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Nro. item</th>
                                            <th>Grado</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row header-medico2">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="panel-4" class="panel">
            <div class="panel-hdr tittle-responsive-medico3" style="display: none;">
                <h2>
                    Estado
                </h2>
            </div>
            <div class="panel-hdr tittle-responsive-fullscreen">
                <h2 class="titulo-responsive-none">
                    Estado
                </h2>
                <div class="panel-toolbar pr-3 align-self-end">
                    <ul id="demo_panel-tabs" class="nav nav-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab_medico_estado" role="tab">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab_medico_estado_detalle" role="tab">Detalle</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-toolbar pt-2">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen" onclick="ListarMedicoEstado();"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="tab-content p-3">
                        <div class="tab-pane fade show active" id="tab_medico_estado" role="tabpanel">
                            <div id="dashboard-estado" style="min-height: 435px;"></div>
                        </div>
                        <div class="tab-pane fade" id="tab_medico_estado_detalle" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" id="dt-tabla-estado" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Nro. item</th>
                                            <th>Estado</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row header-medico3">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="panel-2" class="panel">
            <div class="panel-hdr tittle-responsive-medico4" style="display: none;">
                <h2>
                    Especialidad
                </h2>
            </div>
            <div class="panel-hdr tittle-responsive-fullscreen">
                <h2 class="titulo-responsive-none">
                    Especialidad
                </h2>
                <div class="panel-toolbar pr-3 align-self-end">
                    <ul id="demo_panel-tabs" class="nav nav-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab_medico_especialidad" role="tab">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab_medico_especialidad_detalle" role="tab">Detalle</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-toolbar pt-2">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen" onclick="ListarMedicoEspecialidad();"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="tab-content p-3">
                        <div class="tab-pane fade show active" id="tab_medico_especialidad" role="tabpanel">
                            <div id="dashboard-especialidad" style="min-height: 500px;"></div>
                        </div>
                        <div class="tab-pane fade" id="tab_medico_especialidad_detalle" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" id="dt-tabla-especialidad" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Nro. item</th>
                                            <th>Especialidad</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding-top: 15px;">
        <p style="font-size: 15px;">
            Fuente: &nbsp;&nbsp;<a href="javascript:void(0)" onclick="window.open('https://www.cmp.org.pe/conoce-a-tu-medico/');">
                https://www.cmp.org.pe/conoce-a-tu-medico/
            </a>
        </p>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/Dashboard/Medicos.js")
}