
@{
    ViewBag.Title = "Demografico";
    Layout = "~/Views/Shared/_Demo.cshtml";
}

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0);">Inicio</a></li>
    <li class="breadcrumb-item">Dashboard</li>
    <li class="breadcrumb-item active">Demográfico</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date" id="fecha"></span></li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class="subheader-icon fal fa-chart-area"></i> Dashboard <span class="fw-300">Demográfico</span>
    </h1>
</div>

<div class="row header-demo1">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr tittle-responsive-demo1" style="display: none;">
                <h2>
                    Ubicación geográfica
                </h2>
            </div>
            <div class="panel-hdr tittle-responsive-fullscreen">
                <h2 class="titulo-responsive-none">
                    Ubicación geográfica
                </h2>
                <div class="panel-toolbar pr-3 align-self-end">
                    <ul id="demo_panel-tabs" class="nav nav-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab_demografia_ubicacion" role="tab">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab_demografia_ubicacion_detalle" role="tab">Detalle</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-toolbar pt-2">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen" onclick="ListarDemograficoUbicacion();"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="tab-content p-3">
                        <div class="tab-pane fade show active" id="tab_demografia_ubicacion" role="tabpanel">
                            <div id="geochart-colors" style="min-height: 385px;"></div>
                        </div>
                        <div class="tab-pane fade" id="tab_demografia_ubicacion_detalle" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" id="dt-tabla-demografia" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Nro. item</th>
                                            <th>Departamento</th>
                                            <th>Cant. Poblacional</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row header-demo2">
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div id="panel-2" class="panel">
            <div class="panel-hdr tittle-responsive-demo2" style="display: none;">
                <h2>
                    Sexo
                </h2>
            </div>
            <div class="panel-hdr tittle-responsive-fullscreen">
                <h2 class="titulo-responsive-none">
                    Sexo
                </h2>
                <div class="panel-toolbar pr-3 align-self-end">
                    <ul id="demo_panel-tabs" class="nav nav-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab_demografia_sexo" role="tab">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab_demografia_sexo_detalle" role="tab">Detalle</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-toolbar pt-2">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen" onclick="ListarDemograficoSexo();"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="tab-content p-3 tab-print">
                        <div class="tab-pane fade show active" id="tab_demografia_sexo" role="tabpanel">
                            <div id="donutchart" style="min-height: 300px;"></div>
                        </div>
                        <div class="tab-pane fade" id="tab_demografia_sexo_detalle" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" id="dt-tabla-sexo" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Nro. item</th>
                                            <th>Sexo</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div id="panel-3" class="panel">
            <div class="panel-hdr tittle-responsive-demo3" style="display: none;">
                <h2>
                    Edad
                </h2>
            </div>
            <div class="panel-hdr tittle-responsive-fullscreen">
                <h2 class="titulo-responsive-none">
                    Edad
                </h2>
                <div class="panel-toolbar pr-3 align-self-end">
                    <ul id="demo_panel-tabs" class="nav nav-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab_demografia_edad" role="tab">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab_demografia_edad_detalle" role="tab">Detalle</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-toolbar pt-2">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen" onclick="ListarDemograficoEdad();"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="tab-content p-3 tab-print">
                        <div class="tab-pane fade show active" id="tab_demografia_edad" role="tabpanel">
                            <div id="pieEstado" style="min-height: 300px;"></div>
                        </div>
                        <div class="tab-pane fade" id="tab_demografia_edad_detalle" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" id="dt-tabla-edad" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Nro. item</th>
                                            <th>Rango de edad</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding-top: 15px;">
        <p style="font-size: 15px;">
            Fuente: &nbsp;&nbsp;<a href="javascript:void(0)" onclick="window.open('https://www.gob.pe/857-consulta-si-eres-miembro-de-mesa-y-tu-local-de-votacion');">
                https://www.gob.pe/857-consulta-si-eres-miembro-de-mesa-y-tu-local-de-votacion
            </a>
        </p>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/Scripts/Demo/Demografico.js")
}