
@{
    ViewBag.Title = "Telecomunicaciones";
    Layout = "~/Views/Shared/_Demo.cshtml";
}

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0);">Inicio</a></li>
    <li class="breadcrumb-item">Dashboard</li>
    <li class="breadcrumb-item active">Telecomunicaciones</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date" id="fecha"></span></li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class="subheader-icon fal fa-chart-area"></i> Dashboard <span class="fw-300">Telecomunicaciones</span>
    </h1>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Participación de mercado de operadores
                </h2>
                <div class="panel-toolbar pr-3 align-self-end">
                    <ul id="demo_panel-tabs" class="nav nav-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab_telecomunicacion_marketshare" role="tab">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab_telecomunicacion_marketshare_detalle" role="tab">Detalle</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen" onclick="ListarTelecomunicacionMarketshare();"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="tab-content p-3 tab-print">
                        <div class="tab-pane fade show active" id="tab_telecomunicacion_marketshare" role="tabpanel">
                            <div id="dashboard-marketshare" style="min-height: 300px;"></div>
                        </div>
                        <div class="tab-pane fade" id="tab_telecomunicacion_marketshare_detalle" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" id="dt-tabla-marketshare" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Nro. item</th>
                                            <th>Operador Telefónico</th>
                                            <th>Porcentaje</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center" style="padding-top: 15px;">
        <p style="font-size: 15px;">
            A través de nuestros sistemas de <strong>Speech Analytics</strong>, podemos escuchar y detectar automáticamente el<br />
            timbrado (Ejem: "Bienvenido a tu operador") catalogando más de 20 millones de teléfonos.
        </p>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/Scripts/Demo/Telecomunicaciones.js")
}