USE [master]
GO
CREATE DATABASE [BD_DYA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_DYA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD_DYA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_DYA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD_DYA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_DYA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_DYA]
GO
CREATE SCHEMA [DASHBOARD]
GO
CREATE SCHEMA [SEGURIDAD]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DASHBOARD].[TBL_AUTOMOTOR_ANIO_FABRICACION](
	[ID_ANIO_FAB_IN] [int] IDENTITY(1,1) NOT NULL,
	[ANIO_FAB_VC] [varchar](25) NOT NULL,
	[NU_CAN_SI] [int] NOT NULL,
 CONSTRAINT [PK__automoto__4A3B1F35E0B24AAB] PRIMARY KEY CLUSTERED 
(
	[ID_ANIO_FAB_IN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DASHBOARD].[TBL_AUTOMOTOR_MARCA](
	[ID_AUT_MAR_SI] [int] IDENTITY(1,1) NOT NULL,
	[NOM_MAR_VC] [varchar](50) NOT NULL,
	[NUM_PAR_DO] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK__automoto__320F37B490D816E8] PRIMARY KEY CLUSTERED 
(
	[ID_AUT_MAR_SI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DASHBOARD].[TBL_AUTOMOTOR_TIPO_PERSONA](
	[ID_TIP_PER_SI] [int] IDENTITY(1,1) NOT NULL,
	[DES_TIP_PER_VC] [varchar](100) NOT NULL,
	[NU_POR_DO] [decimal](4, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIP_PER_SI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DASHBOARD].[TBL_AUTOMOTOR_TIPO_VEHICULO](
	[ID_TIP_VEH_IN] [int] IDENTITY(1,1) NOT NULL,
	[NOM_TIP_VC] [varchar](150) NOT NULL,
	[DEC_POR_DO] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK__automoto__19082A92234E3962] PRIMARY KEY CLUSTERED 
(
	[ID_TIP_VEH_IN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DASHBOARD].[TBL_AUTOMOTOR_UBICACION](
	[ID_AUT_UBI_IN] [int] IDENTITY(1,1) NOT NULL,
	[ABR_DEP_VC] [varchar](10) NULL,
	[NOM_DEP_VC] [varchar](150) NOT NULL,
	[NUM_POR_DO] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK__automoto__004DC6587AABB7C4] PRIMARY KEY CLUSTERED 
(
	[ID_AUT_UBI_IN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DASHBOARD].[TBL_DEMOGRAFIA_EDAD](
	[DES_RAN_VC] [varchar](500) NULL,
	[NU_CAN_SI] [int] NULL,
	[NU_ORD_SI] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DASHBOARD].[TBL_DEMOGRAFIA_SEXO](
	[DES_SEX_VC] [varchar](500) NULL,
	[NU_CAN_SI] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DASHBOARD].[TBL_DEMOGRAFIA_UBICACION](
	[ABR_DEP_VC] [varchar](10) NULL,
	[DES_DEP_VC] [varchar](500) NULL,
	[NU_POB_SI] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DASHBOARD].[TBL_EMPRESAS_ESTADO](
	[DES_EST_VC] [varchar](500) NULL,
	[NU_CAN_SI] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DASHBOARD].[TBL_EMPRESAS_GIRO](
	[DES_GIR_VC] [varchar](500) NULL,
	[NU_CAN_SI] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DASHBOARD].[TBL_EMPRESAS_TIPO](
	[DES_TIP_RUC_VC] [varchar](500) NOT NULL,
	[NU_CAN_SI] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DASHBOARD].[TBL_EMPRESAS_UBICACION](
	[ABR_DEP_VC] [varchar](10) NULL,
	[DES_DEP_VC] [varchar](500) NOT NULL,
	[NU_CAN_SI] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DASHBOARD].[TBL_MEDICOS_ESPECIALIDAD](
	[DES_ESP_VC] [varchar](500) NULL,
	[NU_CAN_SI] [int] NULL,
	[NU_POR_DO] [varchar](500) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DASHBOARD].[TBL_MEDICOS_ESTADO](
	[DES_EST_VC] [varchar](500) NULL,
	[NU_CAN_SI] [int] NULL,
	[NU_POR_DO] [varchar](500) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DASHBOARD].[TBL_MEDICOS_GRADO](
	[DES_GRA_VC] [varchar](500) NULL,
	[NU_CAN_SI] [int] NULL,
	[NU_POR_DO] [varchar](500) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DASHBOARD].[TBL_MEDICOS_UBICACION](
	[ABR_DEP_VC] [varchar](10) NULL,
	[DES_DEP_VC] [varchar](500) NOT NULL,
	[NU_CAN_SI] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DASHBOARD].[TBL_SOAT_SEGURO](
	[ID_SOA_SEG_IN] [int] IDENTITY(1,1) NOT NULL,
	[NOM_COM_VC] [varchar](150) NOT NULL,
	[NUM_POR_DO] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK__soat_mar__BDA549875917C625] PRIMARY KEY CLUSTERED 
(
	[ID_SOA_SEG_IN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DASHBOARD].[TBL_SOAT_TIPO](
	[ID_SOA_TIP_IN] [int] IDENTITY(1,1) NOT NULL,
	[NOM_TIP_VC] [varchar](150) NOT NULL,
	[NUM_POR_DO] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK__soat_tip__0B74535E52AF7FC6] PRIMARY KEY CLUSTERED 
(
	[ID_SOA_TIP_IN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DASHBOARD].[TBL_SOAT_TIPO_VEHICULO](
	[ID_SOA_TVE_IN] [int] IDENTITY(1,1) NOT NULL,
	[DES_TIP_VC] [varchar](150) NOT NULL,
	[NUM_POR_DO] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK__soat_tip__D13D8FDF93BAC05C] PRIMARY KEY CLUSTERED 
(
	[ID_SOA_TVE_IN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DASHBOARD].[TBL_SOAT_VENCIMIENTO](
	[ID_SOA_VEN_IN] [int] IDENTITY(1,1) NOT NULL,
	[FEC_VEN_DT] [date] NOT NULL,
	[NUM_CAN_IN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SOA_VEN_IN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DASHBOARD].[TBL_TELECOMUNICACIONES_MARKETSHARE](
	[DES_OPE_VC] [varchar](500) NULL,
	[NU_POR_DO] [varchar](500) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEGURIDAD].[TBL_USUARIO](
	[ID_USU_IN] [int] IDENTITY(1,1) NOT NULL,
	[ID_ROL_IN] [int] NULL,
	[ID_TIP_CUE_IN] [int] NULL,
	[LOG_USU_VC] [varchar](100) NULL,
	[PAS_USU_VC] [varchar](200) NULL,
	[NRO_DOC_VC] [varchar](20) NULL,
	[NOM_PER_VC] [varchar](100) NULL,
	[APE_PER_VC] [varchar](100) NULL,
	[COR_PER_VC] [varchar](100) NULL,
	[COR_COR_VC] [varchar](100) NULL,
	[TEL_PER_VC] [varchar](20) NULL,
	[CEL_COR_VC] [varchar](20) NULL,
	[FLG_VER_BO] [bit] NULL,
	[FLG_EST_BO] [bit] NULL,
	[USU_CRE_IN] [int] NULL,
	[FEC_CRE_DT] [datetime] NULL,
	[TIP_UPD_IN] [int] NULL,
	[USU_UPD_IN] [int] NULL,
	[FEC_UPD_DT] [datetime] NULL,
 CONSTRAINT [PK_TBL_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_USU_IN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEGURIDAD].[TBL_USUARIO_AREA_INTERES](
	[ID_USU_IN] [int] NOT NULL,
	[ID_ARE_IN] [int] NOT NULL,
	[FLG_EST_BO] [bit] NULL,
	[USU_CRE_IN] [int] NULL,
	[FEC_CRE_DT] [datetime] NULL,
	[TIP_UPD_IN] [int] NULL,
	[FEC_UPD_IN] [int] NULL,
	[USU_UPD_DT] [datetime] NULL,
 CONSTRAINT [PK_TBL_USUARIO_AREA_INTERES] PRIMARY KEY CLUSTERED 
(
	[ID_USU_IN] ASC,
	[ID_ARE_IN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEGURIDAD].[TRF_AREA_INTERES](
	[ID_ARE_IN] [int] NOT NULL,
	[DES_ARE_VC] [varchar](80) NULL,
	[FLG_EST_BO] [bit] NULL,
 CONSTRAINT [PK_TRF_AREA_INTERES] PRIMARY KEY CLUSTERED 
(
	[ID_ARE_IN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEGURIDAD].[TRF_MENU](
	[ID_MEN_IN] [int] IDENTITY(1,1) NOT NULL,
	[ID_ROL_IN] [int] NOT NULL,
	[ID_TIP_CUE_IN] [int] NOT NULL,
	[ID_NIV_IN] [int] NOT NULL,
	[DES_IMA_VC] [varchar](60) NOT NULL,
	[DES_URL_VC] [varchar](160) NOT NULL,
	[DES_NOM_VC] [varchar](40) NOT NULL,
	[DES_TIT_VC] [varchar](160) NULL,
	[ID_PAD_IN] [int] NULL,
	[NU_ORD_IN] [int] NULL,
	[FLG_VIS_BO] [bit] NULL,
	[FLG_EST_BO] [bit] NOT NULL,
 CONSTRAINT [PK_TRF_MENU] PRIMARY KEY CLUSTERED 
(
	[ID_MEN_IN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEGURIDAD].[TRF_ROL](
	[ID_ROL_IN] [int] NOT NULL,
	[DES_ROL_VC] [varchar](40) NULL,
	[FLG_EST_BO] [bit] NULL,
 CONSTRAINT [PK_TRF_ROL] PRIMARY KEY CLUSTERED 
(
	[ID_ROL_IN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEGURIDAD].[TRF_TIPO_CUENTA](
	[ID_TIP_CUE_IN] [int] NOT NULL,
	[DES_TIP_CUE_VC] [varchar](40) NULL,
	[FLG_EST_BO] [bit] NULL,
 CONSTRAINT [PK_TRF_TIPO_CUENTA] PRIMARY KEY CLUSTERED 
(
	[ID_TIP_CUE_IN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [DASHBOARD].[TBL_AUTOMOTOR_ANIO_FABRICACION] ON 

INSERT [DASHBOARD].[TBL_AUTOMOTOR_ANIO_FABRICACION] ([ID_ANIO_FAB_IN], [ANIO_FAB_VC], [NU_CAN_SI]) VALUES (1, N'2019', 85591)
INSERT [DASHBOARD].[TBL_AUTOMOTOR_ANIO_FABRICACION] ([ID_ANIO_FAB_IN], [ANIO_FAB_VC], [NU_CAN_SI]) VALUES (2, N'2018', 93957)
INSERT [DASHBOARD].[TBL_AUTOMOTOR_ANIO_FABRICACION] ([ID_ANIO_FAB_IN], [ANIO_FAB_VC], [NU_CAN_SI]) VALUES (3, N'2017', 123032)
SET IDENTITY_INSERT [DASHBOARD].[TBL_AUTOMOTOR_ANIO_FABRICACION] OFF
SET IDENTITY_INSERT [DASHBOARD].[TBL_AUTOMOTOR_MARCA] ON 

INSERT [DASHBOARD].[TBL_AUTOMOTOR_MARCA] ([ID_AUT_MAR_SI], [NOM_MAR_VC], [NUM_PAR_DO]) VALUES (1, N'TOYOTA', CAST(11.40 AS Decimal(4, 2)))
INSERT [DASHBOARD].[TBL_AUTOMOTOR_MARCA] ([ID_AUT_MAR_SI], [NOM_MAR_VC], [NUM_PAR_DO]) VALUES (2, N'HYUNDAI', CAST(11.12 AS Decimal(4, 2)))
INSERT [DASHBOARD].[TBL_AUTOMOTOR_MARCA] ([ID_AUT_MAR_SI], [NOM_MAR_VC], [NUM_PAR_DO]) VALUES (3, N'KIA', CAST(8.31 AS Decimal(4, 2)))
SET IDENTITY_INSERT [DASHBOARD].[TBL_AUTOMOTOR_MARCA] OFF
SET IDENTITY_INSERT [DASHBOARD].[TBL_AUTOMOTOR_TIPO_PERSONA] ON 

INSERT [DASHBOARD].[TBL_AUTOMOTOR_TIPO_PERSONA] ([ID_TIP_PER_SI], [DES_TIP_PER_VC], [NU_POR_DO]) VALUES (1, N'Persona Juridica', CAST(55.98 AS Decimal(4, 2)))
INSERT [DASHBOARD].[TBL_AUTOMOTOR_TIPO_PERSONA] ([ID_TIP_PER_SI], [DES_TIP_PER_VC], [NU_POR_DO]) VALUES (2, N'Persona Natural', CAST(44.02 AS Decimal(4, 2)))
SET IDENTITY_INSERT [DASHBOARD].[TBL_AUTOMOTOR_TIPO_PERSONA] OFF
SET IDENTITY_INSERT [DASHBOARD].[TBL_AUTOMOTOR_TIPO_VEHICULO] ON 

INSERT [DASHBOARD].[TBL_AUTOMOTOR_TIPO_VEHICULO] ([ID_TIP_VEH_IN], [NOM_TIP_VC], [DEC_POR_DO]) VALUES (1, N'Pesados', CAST(16.20 AS Decimal(4, 2)))
INSERT [DASHBOARD].[TBL_AUTOMOTOR_TIPO_VEHICULO] ([ID_TIP_VEH_IN], [NOM_TIP_VC], [DEC_POR_DO]) VALUES (2, N'Livianos', CAST(83.80 AS Decimal(4, 2)))
SET IDENTITY_INSERT [DASHBOARD].[TBL_AUTOMOTOR_TIPO_VEHICULO] OFF
SET IDENTITY_INSERT [DASHBOARD].[TBL_AUTOMOTOR_UBICACION] ON 

INSERT [DASHBOARD].[TBL_AUTOMOTOR_UBICACION] ([ID_AUT_UBI_IN], [ABR_DEP_VC], [NOM_DEP_VC], [NUM_POR_DO]) VALUES (1, N'PE-HUC', N'HUANUCO', CAST(1.70 AS Decimal(4, 2)))
INSERT [DASHBOARD].[TBL_AUTOMOTOR_UBICACION] ([ID_AUT_UBI_IN], [ABR_DEP_VC], [NOM_DEP_VC], [NUM_POR_DO]) VALUES (2, N'PE-UCA', N'UCAYALI', CAST(0.51 AS Decimal(4, 2)))
INSERT [DASHBOARD].[TBL_AUTOMOTOR_UBICACION] ([ID_AUT_UBI_IN], [ABR_DEP_VC], [NOM_DEP_VC], [NUM_POR_DO]) VALUES (3, N'PE-LOR', N'LORETO', CAST(0.43 AS Decimal(4, 2)))
SET IDENTITY_INSERT [DASHBOARD].[TBL_AUTOMOTOR_UBICACION] OFF
INSERT [DASHBOARD].[TBL_DEMOGRAFIA_EDAD] ([DES_RAN_VC], [NU_CAN_SI], [NU_ORD_SI]) VALUES (N'Entre 18 y 20', 1618672, 1)
INSERT [DASHBOARD].[TBL_DEMOGRAFIA_EDAD] ([DES_RAN_VC], [NU_CAN_SI], [NU_ORD_SI]) VALUES (N'Entre 21 y 30', 5781184, 2)
INSERT [DASHBOARD].[TBL_DEMOGRAFIA_EDAD] ([DES_RAN_VC], [NU_CAN_SI], [NU_ORD_SI]) VALUES (N'Entre 31 y 50', 9604933, 3)
INSERT [DASHBOARD].[TBL_DEMOGRAFIA_SEXO] ([DES_SEX_VC], [NU_CAN_SI]) VALUES (N'Masculino', 13400609)
INSERT [DASHBOARD].[TBL_DEMOGRAFIA_SEXO] ([DES_SEX_VC], [NU_CAN_SI]) VALUES (N'Femenino', 13076379)
INSERT [DASHBOARD].[TBL_DEMOGRAFIA_UBICACION] ([ABR_DEP_VC], [DES_DEP_VC], [NU_POB_SI]) VALUES (N'PE-LIM', N'LIMA', 9337359)
INSERT [DASHBOARD].[TBL_DEMOGRAFIA_UBICACION] ([ABR_DEP_VC], [DES_DEP_VC], [NU_POB_SI]) VALUES (N'PE-LAL', N'LA LIBERTAD', 1600422)
INSERT [DASHBOARD].[TBL_DEMOGRAFIA_UBICACION] ([ABR_DEP_VC], [DES_DEP_VC], [NU_POB_SI]) VALUES (N'PE-PIU', N'PIURA', 1573808)
INSERT [DASHBOARD].[TBL_EMPRESAS_ESTADO] ([DES_EST_VC], [NU_CAN_SI]) VALUES (N'BAJA PROVISIONAL', 648)
INSERT [DASHBOARD].[TBL_EMPRESAS_ESTADO] ([DES_EST_VC], [NU_CAN_SI]) VALUES (N'BAJA DEFINITIVA', 789272)
INSERT [DASHBOARD].[TBL_EMPRESAS_ESTADO] ([DES_EST_VC], [NU_CAN_SI]) VALUES (N'SUSPENSION TEMPORAL', 352197)
INSERT [DASHBOARD].[TBL_EMPRESAS_GIRO] ([DES_GIR_VC], [NU_CAN_SI]) VALUES (N'ACABADO DE PROD. TEXTILES.', 3523)
INSERT [DASHBOARD].[TBL_EMPRESAS_GIRO] ([DES_GIR_VC], [NU_CAN_SI]) VALUES (N'ACABADO DE PRODUCTOS TEXTILES', 5048)
INSERT [DASHBOARD].[TBL_EMPRESAS_GIRO] ([DES_GIR_VC], [NU_CAN_SI]) VALUES (N'ACONDICIONAMIENTO DE EDIFICIOS.', 9037)
GO
INSERT [DASHBOARD].[TBL_EMPRESAS_TIPO] ([DES_TIP_RUC_VC], [NU_CAN_SI]) VALUES (N'Persona Natural', 9939335)
INSERT [DASHBOARD].[TBL_EMPRESAS_TIPO] ([DES_TIP_RUC_VC], [NU_CAN_SI]) VALUES (N'Persona Juridica', 1201035)
INSERT [DASHBOARD].[TBL_EMPRESAS_UBICACION] ([ABR_DEP_VC], [DES_DEP_VC], [NU_CAN_SI]) VALUES (N'PE-SAM', N'SAN MARTIN', 188477)
INSERT [DASHBOARD].[TBL_EMPRESAS_UBICACION] ([ABR_DEP_VC], [DES_DEP_VC], [NU_CAN_SI]) VALUES (N'PE-CAL', N'CALLAO', 494739)
INSERT [DASHBOARD].[TBL_EMPRESAS_UBICACION] ([ABR_DEP_VC], [DES_DEP_VC], [NU_CAN_SI]) VALUES (N'PE-UCA', N'UCAYALI', 157551)
INSERT [DASHBOARD].[TBL_MEDICOS_ESPECIALIDAD] ([DES_ESP_VC], [NU_CAN_SI], [NU_POR_DO]) VALUES (N'DIPLOMATURA EN AUDITORIA MEDICA', 8568, N'18,06%')
INSERT [DASHBOARD].[TBL_MEDICOS_ESPECIALIDAD] ([DES_ESP_VC], [NU_CAN_SI], [NU_POR_DO]) VALUES (N'GINECOLOGIA Y OBSTETRICIA', 4056, N'8,55%')
INSERT [DASHBOARD].[TBL_MEDICOS_ESPECIALIDAD] ([DES_ESP_VC], [NU_CAN_SI], [NU_POR_DO]) VALUES (N'PEDIATRIA', 4024, N'8,48%')
GO
INSERT [DASHBOARD].[TBL_MEDICOS_ESTADO] ([DES_EST_VC], [NU_CAN_SI], [NU_POR_DO]) VALUES (N'ACTIVO', 77292, N'89,041%')
INSERT [DASHBOARD].[TBL_MEDICOS_ESTADO] ([DES_EST_VC], [NU_CAN_SI], [NU_POR_DO]) VALUES (N'CANCELADO', 79, N'0,091%')
INSERT [DASHBOARD].[TBL_MEDICOS_ESTADO] ([DES_EST_VC], [NU_CAN_SI], [NU_POR_DO]) VALUES (N'EXON. ADMINISTRATIVO', 3173, N'3,655%')
INSERT [DASHBOARD].[TBL_MEDICOS_GRADO] ([DES_GRA_VC], [NU_CAN_SI], [NU_POR_DO]) VALUES (N'RNA', 8568, N'18,06%')
INSERT [DASHBOARD].[TBL_MEDICOS_GRADO] ([DES_GRA_VC], [NU_CAN_SI], [NU_POR_DO]) VALUES (N'RND', 226, N'0,48%')
INSERT [DASHBOARD].[TBL_MEDICOS_GRADO] ([DES_GRA_VC], [NU_CAN_SI], [NU_POR_DO]) VALUES (N'RNE', 37815, N'79,72%')
INSERT [DASHBOARD].[TBL_MEDICOS_UBICACION] ([ABR_DEP_VC], [DES_DEP_VC], [NU_CAN_SI]) VALUES (N'PE-AMA', N'AMAZONAS', 251)
INSERT [DASHBOARD].[TBL_MEDICOS_UBICACION] ([ABR_DEP_VC], [DES_DEP_VC], [NU_CAN_SI]) VALUES (N'PE-ANC', N'ANCASH', 1645)
INSERT [DASHBOARD].[TBL_MEDICOS_UBICACION] ([ABR_DEP_VC], [DES_DEP_VC], [NU_CAN_SI]) VALUES (N'PE-APU', N'APURIMAC', 493)
SET IDENTITY_INSERT [DASHBOARD].[TBL_SOAT_SEGURO] ON 

INSERT [DASHBOARD].[TBL_SOAT_SEGURO] ([ID_SOA_SEG_IN], [NOM_COM_VC], [NUM_POR_DO]) VALUES (1, N'Mapfre Perú', CAST(12.70 AS Decimal(4, 2)))
INSERT [DASHBOARD].[TBL_SOAT_SEGURO] ([ID_SOA_SEG_IN], [NOM_COM_VC], [NUM_POR_DO]) VALUES (2, N'Rimac Seguros', CAST(14.40 AS Decimal(4, 2)))
INSERT [DASHBOARD].[TBL_SOAT_SEGURO] ([ID_SOA_SEG_IN], [NOM_COM_VC], [NUM_POR_DO]) VALUES (3, N'Crecer Seguros', CAST(0.40 AS Decimal(4, 2)))
SET IDENTITY_INSERT [DASHBOARD].[TBL_SOAT_SEGURO] OFF
SET IDENTITY_INSERT [DASHBOARD].[TBL_SOAT_TIPO] ON 

INSERT [DASHBOARD].[TBL_SOAT_TIPO] ([ID_SOA_TIP_IN], [NOM_TIP_VC], [NUM_POR_DO]) VALUES (1, N'Digital', CAST(43.16 AS Decimal(4, 2)))
INSERT [DASHBOARD].[TBL_SOAT_TIPO] ([ID_SOA_TIP_IN], [NOM_TIP_VC], [NUM_POR_DO]) VALUES (2, N'Fisico', CAST(53.84 AS Decimal(4, 2)))
SET IDENTITY_INSERT [DASHBOARD].[TBL_SOAT_TIPO] OFF
SET IDENTITY_INSERT [DASHBOARD].[TBL_SOAT_TIPO_VEHICULO] ON 

INSERT [DASHBOARD].[TBL_SOAT_TIPO_VEHICULO] ([ID_SOA_TVE_IN], [DES_TIP_VC], [NUM_POR_DO]) VALUES (1, N'AUTOMOVIL', CAST(45.60 AS Decimal(4, 2)))
INSERT [DASHBOARD].[TBL_SOAT_TIPO_VEHICULO] ([ID_SOA_TVE_IN], [DES_TIP_VC], [NUM_POR_DO]) VALUES (2, N'CAMIONETA RURAL', CAST(26.10 AS Decimal(4, 2)))
INSERT [DASHBOARD].[TBL_SOAT_TIPO_VEHICULO] ([ID_SOA_TVE_IN], [DES_TIP_VC], [NUM_POR_DO]) VALUES (3, N'CAMIONETA PICK UP', CAST(10.00 AS Decimal(4, 2)))
SET IDENTITY_INSERT [DASHBOARD].[TBL_SOAT_TIPO_VEHICULO] OFF

SET IDENTITY_INSERT [DASHBOARD].[TBL_SOAT_VENCIMIENTO] ON 
INSERT [DASHBOARD].[TBL_SOAT_VENCIMIENTO] ([ID_SOA_VEN_IN], [FEC_VEN_DT], [NUM_CAN_IN]) VALUES (1, CAST(N'2020-01-01' AS Date), 86160)
INSERT [DASHBOARD].[TBL_SOAT_VENCIMIENTO] ([ID_SOA_VEN_IN], [FEC_VEN_DT], [NUM_CAN_IN]) VALUES (2, CAST(N'2020-02-01' AS Date), 95242)
INSERT [DASHBOARD].[TBL_SOAT_VENCIMIENTO] ([ID_SOA_VEN_IN], [FEC_VEN_DT], [NUM_CAN_IN]) VALUES (3, CAST(N'2020-03-01' AS Date), 101669)
SET IDENTITY_INSERT [DASHBOARD].[TBL_SOAT_VENCIMIENTO] OFF

INSERT [DASHBOARD].[TBL_TELECOMUNICACIONES_MARKETSHARE] ([DES_OPE_VC], [NU_POR_DO]) VALUES (N'Movistar', N'36,33')
INSERT [DASHBOARD].[TBL_TELECOMUNICACIONES_MARKETSHARE] ([DES_OPE_VC], [NU_POR_DO]) VALUES (N'Claro', N'32,05')
INSERT [DASHBOARD].[TBL_TELECOMUNICACIONES_MARKETSHARE] ([DES_OPE_VC], [NU_POR_DO]) VALUES (N'Entel', N'18,46')
SET IDENTITY_INSERT [SEGURIDAD].[TBL_USUARIO] ON 
INSERT [SEGURIDAD].[TBL_USUARIO] ([ID_USU_IN], [ID_ROL_IN], [ID_TIP_CUE_IN], [LOG_USU_VC], [PAS_USU_VC], [NRO_DOC_VC], [NOM_PER_VC], [APE_PER_VC], [COR_PER_VC], [COR_COR_VC], [TEL_PER_VC], [CEL_COR_VC], [FLG_VER_BO], [FLG_EST_BO], [USU_CRE_IN], [FEC_CRE_DT], [TIP_UPD_IN], [USU_UPD_IN], [FEC_UPD_DT]) 
VALUES (1, 1, 0, N'FAPAZAC', N't7miDgOxvVe5bXi9Avyr6w==', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 1, 1, CAST(N'2020-03-04T00:00:00.000' AS DateTime), 1, NULL, NULL)
INSERT [SEGURIDAD].[TBL_USUARIO] ([ID_USU_IN], [ID_ROL_IN], [ID_TIP_CUE_IN], [LOG_USU_VC], [PAS_USU_VC], [NRO_DOC_VC], [NOM_PER_VC], [APE_PER_VC], [COR_PER_VC], [COR_COR_VC], [TEL_PER_VC], [CEL_COR_VC], [FLG_VER_BO], [FLG_EST_BO], [USU_CRE_IN], [FEC_CRE_DT], [TIP_UPD_IN], [USU_UPD_IN], [FEC_UPD_DT]) 
VALUES (22, 2, 1, N'frankapazac', N'A8RM+c8/z6I=', N'43713193', N'Aldo Frank', N'Apaza Colque', NULL, N'frankapazac@gmail.com', NULL, N'986095857', 1, 1, 1, CAST(N'2020-04-07T21:32:57.173' AS DateTime), 2, 22, CAST(N'2020-04-07T21:33:52.970' AS DateTime))
/*Usuario demo*/
INSERT [SEGURIDAD].[TBL_USUARIO] ([ID_USU_IN], [ID_ROL_IN], [ID_TIP_CUE_IN], [LOG_USU_VC], [PAS_USU_VC], [NRO_DOC_VC], [NOM_PER_VC], [APE_PER_VC], [COR_PER_VC], [COR_COR_VC], [TEL_PER_VC], [CEL_COR_VC], [FLG_VER_BO], [FLG_EST_BO], [USU_CRE_IN], [FEC_CRE_DT], [TIP_UPD_IN], [USU_UPD_IN], [FEC_UPD_DT]) 
VALUES (23, 3, 1, N'demousuario', N'HOtimrnfa10=', N'43713100', N'Usuario Demo', N'Demo Demo', NULL, N'miralles.jose.18@gmail.com', NULL, N'986115857', 1, 1, 1, CAST(N'2020-04-09T21:32:57.173' AS DateTime), 2, 23, CAST(N'2020-04-09T21:33:52.970' AS DateTime))
/**************/
SET IDENTITY_INSERT [SEGURIDAD].[TBL_USUARIO] OFF
SET IDENTITY_INSERT [SEGURIDAD].[TRF_MENU] ON 

INSERT [SEGURIDAD].[TRF_MENU] ([ID_MEN_IN], [ID_ROL_IN], [ID_TIP_CUE_IN], [ID_NIV_IN], [DES_IMA_VC], [DES_URL_VC], [DES_NOM_VC], [DES_TIT_VC], [ID_PAD_IN], [NU_ORD_IN], [FLG_VIS_BO], [FLG_EST_BO]) VALUES (1, 1, 0, 0, N'', N'#', N'DASHBOARD', N'', 0, 1, 1, 1)
INSERT [SEGURIDAD].[TRF_MENU] ([ID_MEN_IN], [ID_ROL_IN], [ID_TIP_CUE_IN], [ID_NIV_IN], [DES_IMA_VC], [DES_URL_VC], [DES_NOM_VC], [DES_TIT_VC], [ID_PAD_IN], [NU_ORD_IN], [FLG_VIS_BO], [FLG_EST_BO]) VALUES (2, 1, 0, 0, N'', N'#', N'MANTENIMIENTO', N'', 0, 2, 1, 1)
INSERT [SEGURIDAD].[TRF_MENU] ([ID_MEN_IN], [ID_ROL_IN], [ID_TIP_CUE_IN], [ID_NIV_IN], [DES_IMA_VC], [DES_URL_VC], [DES_NOM_VC], [DES_TIT_VC], [ID_PAD_IN], [NU_ORD_IN], [FLG_VIS_BO], [FLG_EST_BO]) VALUES (3, 1, 0, 1, N'', N'#', N'Demográfico', N'', 1, 1, 1, 1)
/**** DEMO ****/
/********/
SET IDENTITY_INSERT [SEGURIDAD].[TRF_MENU] OFF

INSERT [SEGURIDAD].[TRF_ROL] ([ID_ROL_IN], [DES_ROL_VC], [FLG_EST_BO]) VALUES (1, N'ADMINISTRACION', 1)
INSERT [SEGURIDAD].[TRF_ROL] ([ID_ROL_IN], [DES_ROL_VC], [FLG_EST_BO]) VALUES (2, N'CLIENTE', 1)
INSERT [SEGURIDAD].[TRF_ROL] ([ID_ROL_IN], [DES_ROL_VC], [FLG_EST_BO]) VALUES (3, N'DEMO', 1)
INSERT [SEGURIDAD].[TRF_TIPO_CUENTA] ([ID_TIP_CUE_IN], [DES_TIP_CUE_VC], [FLG_EST_BO]) VALUES (0, N'NO ESPECIFICA', 0)
INSERT [SEGURIDAD].[TRF_TIPO_CUENTA] ([ID_TIP_CUE_IN], [DES_TIP_CUE_VC], [FLG_EST_BO]) VALUES (1, N'BASICO', 1)
INSERT [SEGURIDAD].[TRF_TIPO_CUENTA] ([ID_TIP_CUE_IN], [DES_TIP_CUE_VC], [FLG_EST_BO]) VALUES (2, N'ESTANDARD', 1)
SET ANSI_PADDING ON
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_TBL_USUARIO_LOG_USU_VC] ON [SEGURIDAD].[TBL_USUARIO]
(
	[LOG_USU_VC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [SEGURIDAD].[TBL_USUARIO] ADD  CONSTRAINT [DF_TBL_USUARIO_FLG_VER_BO]  DEFAULT ((0)) FOR [FLG_VER_BO]
GO
ALTER TABLE [SEGURIDAD].[TBL_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_USUARIO_TRF_ROL] FOREIGN KEY([ID_ROL_IN])
REFERENCES [SEGURIDAD].[TRF_ROL] ([ID_ROL_IN])
GO
ALTER TABLE [SEGURIDAD].[TBL_USUARIO] CHECK CONSTRAINT [FK_TBL_USUARIO_TRF_ROL]
GO
ALTER TABLE [SEGURIDAD].[TBL_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_USUARIO_TRF_TIPO_CUENTA] FOREIGN KEY([ID_TIP_CUE_IN])
REFERENCES [SEGURIDAD].[TRF_TIPO_CUENTA] ([ID_TIP_CUE_IN])
GO
ALTER TABLE [SEGURIDAD].[TBL_USUARIO] CHECK CONSTRAINT [FK_TBL_USUARIO_TRF_TIPO_CUENTA]
GO
ALTER TABLE [SEGURIDAD].[TBL_USUARIO_AREA_INTERES]  WITH CHECK ADD  CONSTRAINT [FK_TBL_USUARIO_AREA_INTERES_TBL_USUARIO] FOREIGN KEY([ID_USU_IN])
REFERENCES [SEGURIDAD].[TBL_USUARIO] ([ID_USU_IN])
GO
ALTER TABLE [SEGURIDAD].[TBL_USUARIO_AREA_INTERES] CHECK CONSTRAINT [FK_TBL_USUARIO_AREA_INTERES_TBL_USUARIO]
GO
ALTER TABLE [SEGURIDAD].[TBL_USUARIO_AREA_INTERES]  WITH CHECK ADD  CONSTRAINT [FK_TBL_USUARIO_AREA_INTERES_TRF_AREA_INTERES] FOREIGN KEY([ID_ARE_IN])
REFERENCES [SEGURIDAD].[TRF_AREA_INTERES] ([ID_ARE_IN])
GO
ALTER TABLE [SEGURIDAD].[TBL_USUARIO_AREA_INTERES] CHECK CONSTRAINT [FK_TBL_USUARIO_AREA_INTERES_TRF_AREA_INTERES]
GO
ALTER TABLE [SEGURIDAD].[TRF_MENU]  WITH CHECK ADD  CONSTRAINT [FK_TRF_MENU_TRF_ROL] FOREIGN KEY([ID_ROL_IN])
REFERENCES [SEGURIDAD].[TRF_ROL] ([ID_ROL_IN])
GO
ALTER TABLE [SEGURIDAD].[TRF_MENU] CHECK CONSTRAINT [FK_TRF_MENU_TRF_ROL]
GO
ALTER TABLE [SEGURIDAD].[TRF_MENU]  WITH CHECK ADD  CONSTRAINT [FK_TRF_MENU_TRF_TIPO_CUENTA] FOREIGN KEY([ID_TIP_CUE_IN])
REFERENCES [SEGURIDAD].[TRF_TIPO_CUENTA] ([ID_TIP_CUE_IN])
GO
ALTER TABLE [SEGURIDAD].[TRF_MENU] CHECK CONSTRAINT [FK_TRF_MENU_TRF_TIPO_CUENTA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [DASHBOARD].[SP_AUTOMOTOR_ANIO_FABRICACION]
AS
BEGIN
	SELECT T0.ANIO_FAB_VC,
	ISNULL(T0.NU_CAN_SI,0) AS NU_CAN_SI
	FROM DASHBOARD.TBL_AUTOMOTOR_ANIO_FABRICACION T0
	ORDER BY T0.ANIO_FAB_VC;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [DASHBOARD].[SP_AUTOMOTOR_MARCA]
AS
BEGIN
	SELECT T0.NOM_MAR_VC,
	ISNULL(T0.NUM_PAR_DO,0) AS NUM_PAR_DO
	FROM DASHBOARD.TBL_AUTOMOTOR_MARCA T0
	ORDER BY T0.NUM_PAR_DO DESC;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [DASHBOARD].[SP_AUTOMOTOR_TIPO_PERSONA]
AS
BEGIN
	SELECT T0.DES_TIP_PER_VC,
	ISNULL(T0.NU_POR_DO,0) AS NU_POR_DO
	FROM DASHBOARD.TBL_AUTOMOTOR_TIPO_PERSONA T0
	ORDER BY T0.NU_POR_DO DESC;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [DASHBOARD].[SP_AUTOMOTOR_TIPO_VEHICULO]
AS
BEGIN
	SELECT T0.NOM_TIP_VC,
	ISNULL(T0.DEC_POR_DO,0) AS DEC_POR_DO
	FROM DASHBOARD.TBL_AUTOMOTOR_TIPO_VEHICULO T0
	ORDER BY T0.DEC_POR_DO DESC;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [DASHBOARD].[SP_AUTOMOTOR_UBICACION]
AS
BEGIN
	SELECT T0.ABR_DEP_VC,
	T0.NOM_DEP_VC,
	ISNULL(T0.NUM_POR_DO,0) AS NUM_POR_DO
	FROM DASHBOARD.TBL_AUTOMOTOR_UBICACION T0
	ORDER BY T0.NUM_POR_DO DESC;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [DASHBOARD].[SP_DEMOGRAFIA_EDAD]
AS
BEGIN
	SELECT T0.DES_RAN_VC,
	ISNULL(T0.NU_CAN_SI,0) AS NU_CAN_SI
	FROM DASHBOARD.TBL_DEMOGRAFIA_EDAD T0
	ORDER BY T0.NU_ORD_SI;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [DASHBOARD].[SP_DEMOGRAFIA_SEXO]
AS
BEGIN
	SELECT T0.DES_SEX_VC,
	ISNULL(T0.NU_CAN_SI,0) AS NU_CAN_SI
	FROM DASHBOARD.TBL_DEMOGRAFIA_SEXO T0
	ORDER BY T0.NU_CAN_SI DESC;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [DASHBOARD].[SP_DEMOGRAFIA_UBICACION]
AS
BEGIN
	SELECT T0.ABR_DEP_VC,
	T0.DES_DEP_VC,
	ISNULL(T0.NU_POB_SI,0) AS NU_POB_SI
	FROM DASHBOARD.TBL_DEMOGRAFIA_UBICACION T0
	ORDER BY T0.NU_POB_SI;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [DASHBOARD].[SP_EMPRESAS_ESTADO]
AS
BEGIN
	SELECT T0.DES_EST_VC,
	T0.NU_CAN_SI
	FROM DASHBOARD.TBL_EMPRESAS_ESTADO T0
	ORDER BY T0.NU_CAN_SI DESC;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [DASHBOARD].[SP_EMPRESAS_GIRO]
AS
BEGIN
	SELECT T0.DES_GIR_VC,
	T0.NU_CAN_SI
	FROM DASHBOARD.TBL_EMPRESAS_GIRO T0
	ORDER BY T0.NU_CAN_SI DESC;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [DASHBOARD].[SP_EMPRESAS_TIPO]
AS
BEGIN
	SELECT T0.DES_TIP_RUC_VC,
	T0.NU_CAN_SI
	FROM DASHBOARD.TBL_EMPRESAS_TIPO T0
	ORDER BY T0.NU_CAN_SI DESC;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [DASHBOARD].[SP_EMPRESAS_UBICACION]
AS
BEGIN
	SELECT T0.ABR_DEP_VC,
	T0.DES_DEP_VC,
	T0.NU_CAN_SI
	FROM DASHBOARD.TBL_EMPRESAS_UBICACION T0
	ORDER BY T0.NU_CAN_SI DESC;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [DASHBOARD].[SP_MEDICOS_ESPECIALIDAD]
AS
BEGIN
	SELECT T0.DES_ESP_VC,
	ISNULL(T0.NU_CAN_SI,0) AS NU_CAN_SI--,
	--ISNULL(T0.NU_POR_DO,0) AS NU_POR_DO
	FROM DASHBOARD.TBL_MEDICOS_ESPECIALIDAD T0
	ORDER BY ISNULL(T0.NU_CAN_SI,0) DESC;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [DASHBOARD].[SP_MEDICOS_ESTADO]
AS
BEGIN
	SELECT T0.DES_EST_VC,
	ISNULL(T0.NU_CAN_SI,0) AS NU_CAN_SI--,
	--ISNULL(T0.NU_POR_DO,0) AS NU_POR_DO
	FROM DASHBOARD.TBL_MEDICOS_ESTADO T0
	ORDER BY ISNULL(T0.NU_CAN_SI,0) DESC;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [DASHBOARD].[SP_MEDICOS_GRADO]
AS
BEGIN
	SELECT T0.DES_GRA_VC,
	ISNULL(T0.NU_CAN_SI,0) AS NU_CAN_SI--,
	--ISNULL(T0.NU_POR_DO,0) AS NU_POR_DO
	FROM DASHBOARD.TBL_MEDICOS_GRADO T0
	ORDER BY ISNULL(T0.NU_CAN_SI,0) DESC;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [DASHBOARD].[SP_MEDICOS_UBICACION]
AS
BEGIN
	SELECT T0.ABR_DEP_VC,
	T0.DES_DEP_VC,
	ISNULL(T0.NU_CAN_SI,0) AS NU_CAN_SI
	FROM DASHBOARD.TBL_MEDICOS_UBICACION T0
	ORDER BY ISNULL(T0.NU_CAN_SI,0) DESC;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [DASHBOARD].[SP_SOAT_SEGURO]
AS
BEGIN
	SELECT T0.NOM_COM_VC,
	ISNULL(T0.NUM_POR_DO,0) AS NUM_POR_DO
	FROM DASHBOARD.TBL_SOAT_SEGURO T0
	ORDER BY T0.NUM_POR_DO DESC;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [DASHBOARD].[SP_SOAT_TIPO]
AS
BEGIN
	SELECT T0.NOM_TIP_VC,
	ISNULL(T0.NUM_POR_DO,0) AS NUM_POR_DO
	FROM DASHBOARD.TBL_SOAT_TIPO T0
	ORDER BY T0.NUM_POR_DO DESC;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [DASHBOARD].[SP_SOAT_TIPO_VEHICULO]
AS
BEGIN
	SELECT T0.DES_TIP_VC,
	ISNULL(T0.NUM_POR_DO,0) AS NU_POR_DO
	FROM DASHBOARD.TBL_SOAT_TIPO_VEHICULO T0
	ORDER BY T0.NUM_POR_DO DESC;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [DASHBOARD].[SP_SOAT_VENCIMIENTO]
AS
BEGIN
	SELECT CONVERT(VARCHAR, FORMAT ( T0.FEC_VEN_DT , 'MMM yyyy', 'es-PE') ,103) AS FEC_VEN_VC,
	ISNULL(T0.NUM_CAN_IN,0) AS NUM_CAN_IN
	FROM DASHBOARD.TBL_SOAT_VENCIMIENTO T0
	ORDER BY T0.FEC_VEN_DT ASC;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [DASHBOARD].[SP_TELECOMUNICACIONES_MARKETSHARE]
AS
BEGIN
	SELECT T0.DES_OPE_VC,
	ISNULL(T0.NU_POR_DO,0) AS NU_POR_DO
	FROM DASHBOARD.TBL_TELECOMUNICACIONES_MARKETSHARE T0
	ORDER BY ISNULL(T0.NU_POR_DO,0) DESC;
END;

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SEGURIDAD].[SP_AREA_INTERES_LISTAR_COMBO]
AS
BEGIN
	SELECT T0.ID_ARE_IN,
	T0.DES_ARE_VC
	FROM SEGURIDAD.TRF_AREA_INTERES T0
	WHERE T0.FLG_EST_BO=1;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SEGURIDAD].[SP_MENU_LISTAR]
@ID_ROL_IN INT,
@ID_TIP_CUE_IN INT
AS
BEGIN
	SELECT T0.ID_MEN_IN,
	T0.ID_NIV_IN,
	T0.DES_IMA_VC,
	T0.DES_URL_VC,
	T0.DES_NOM_VC,
	T0.DES_TIT_VC,
	T0.ID_PAD_IN,
	ISNULL(T0.FLG_VIS_BO,0) AS FLG_VIS_BO
	FROM SEGURIDAD.TRF_MENU T0
	WHERE T0.ID_ROL_IN=@ID_ROL_IN
	AND T0.ID_TIP_CUE_IN=@ID_TIP_CUE_IN
	ORDER BY T0.ID_NIV_IN,
	T0.NU_ORD_IN;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SEGURIDAD].[SP_ROL_LISTAR_COMBO]
AS
BEGIN
	SELECT T0.ID_ROL_IN,
	T0.DES_ROL_VC
	FROM SEGURIDAD.TRF_ROL T0
	WHERE T0.FLG_EST_BO=1;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SEGURIDAD].[SP_TIPO_CUENTA_LISTAR_COMBO]
AS
BEGIN
	SELECT T0.ID_TIP_CUE_IN,
	T0.DES_TIP_CUE_VC
	FROM SEGURIDAD.TRF_TIPO_CUENTA T0
	WHERE T0.FLG_EST_BO=1;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SEGURIDAD].[SP_USUARIO_ELIMINAR]
@ID_USU_IN INT,
@USU_UPD_IN INT
AS
BEGIN
	UPDATE SEGURIDAD.TBL_USUARIO
	SET FLG_EST_BO=0,
	TIP_UPD_IN=4,
	FEC_UPD_DT=GETDATE(),
	USU_UPD_IN=@USU_UPD_IN
	WHERE ID_USU_IN=@ID_USU_IN;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SEGURIDAD].[SP_USUARIO_LISTAR]
@LOG_USU_VC varchar(100),
@NRO_DOC_VC varchar(20),
@NOM_PER_VC varchar(100),
@APE_PER_VC varchar(100),
@COR_COR_VC varchar(100)
AS
BEGIN
	SELECT T0.ID_USU_IN,
	T0.LOG_USU_VC,
	T0.PAS_USU_VC,
	T0.NRO_DOC_VC,
	T0.NOM_PER_VC,
	T0.APE_PER_VC,
	T0.COR_COR_VC,
	T0.TEL_PER_VC,
	T0.CEL_COR_VC,
	T0.FLG_EST_BO,
	CASE WHEN T0.FLG_EST_BO=1 THEN 'ACTIVO' ELSE 'INACTIVO' END AS DES_EST_VC,
	CASE T0.TIP_UPD_IN WHEN 1 THEN 'CREADO'
		WHEN 2 THEN 'MODIFICADO'
		WHEN 3 THEN 'ACTIVADO'
		WHEN 4 THEN 'ELIMINADO' END AS DES_UPD_VC,
	T0.ID_ROL_IN,
	T0.ID_TIP_CUE_IN,
	T1.LOG_USU_VC AS USU_CRE_VC,
	CONVERT(VARCHAR,ISNULL(T0.FEC_UPD_DT,T0.FEC_CRE_DT),103) + ' ' +
	CONVERT(VARCHAR,ISNULL(T0.FEC_UPD_DT,T0.FEC_CRE_DT),108) AS FEC_CRE_VC
	FROM SEGURIDAD.TBL_USUARIO T0
	LEFT JOIN SEGURIDAD.TBL_USUARIO T1
	ON T1.ID_USU_IN=ISNULL(T0.USU_UPD_IN,T0.USU_CRE_IN)
	WHERE T0.FLG_EST_BO=1
	AND (@LOG_USU_VC IS NULL OR T0.LOG_USU_VC LIKE '%' + @LOG_USU_VC + '%')
	AND (@NRO_DOC_VC IS NULL OR T0.NRO_DOC_VC = @NRO_DOC_VC)
	AND (@NOM_PER_VC IS NULL OR T0.NOM_PER_VC LIKE '%' + @NOM_PER_VC + '%')
	AND (@APE_PER_VC IS NULL OR T0.APE_PER_VC LIKE '%' + @APE_PER_VC + '%')
	AND (@COR_COR_VC IS NULL OR T0.COR_COR_VC LIKE '%' + @COR_COR_VC + '%');
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SEGURIDAD].[SP_USUARIO_LOGIN]
@LOG_USU_VC VARCHAR(100),
@PAS_USU_VC VARCHAR(100)
AS
BEGIN
	SELECT T0.ID_USU_IN
		,T0.ID_ROL_IN
		,T0.ID_TIP_CUE_IN
		,T1.DES_ROL_VC
		,T2.DES_TIP_CUE_VC
		,T0.LOG_USU_VC
	FROM SEGURIDAD.TBL_USUARIO T0
	INNER JOIN SEGURIDAD.TRF_ROL T1
	ON T1.ID_ROL_IN=T0.ID_ROL_IN
	INNER JOIN SEGURIDAD.TRF_TIPO_CUENTA T2
	ON T2.ID_TIP_CUE_IN=T0.ID_TIP_CUE_IN
	WHERE T0.FLG_EST_BO=1 
	AND T0.FLG_VER_BO=1
	AND T0.LOG_USU_VC=@LOG_USU_VC
	AND T0.PAS_USU_VC=@PAS_USU_VC;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SEGURIDAD].[SP_USUARIO_OBTENER_ID]
@ID_USU_IN INT
AS
BEGIN
	SELECT T0.ID_USU_IN
		,T0.ID_ROL_IN
		,T0.ID_TIP_CUE_IN
		,T1.DES_ROL_VC
		,T2.DES_TIP_CUE_VC
		,T0.LOG_USU_VC
	FROM SEGURIDAD.TBL_USUARIO T0
	INNER JOIN SEGURIDAD.TRF_ROL T1
	ON T1.ID_ROL_IN=T0.ID_ROL_IN
	INNER JOIN SEGURIDAD.TRF_TIPO_CUENTA T2
	ON T2.ID_TIP_CUE_IN=T0.ID_TIP_CUE_IN
	WHERE T0.ID_USU_IN=@ID_USU_IN;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SEGURIDAD].[SP_USUARIO_REGISTRAR]
@ID_USU_IN int output
,@ID_ROL_IN int
,@ID_TIP_CUE_IN int
,@LOG_USU_VC varchar(100)
,@PAS_USU_VC varchar(200)
,@NRO_DOC_VC  varchar(20)
,@NOM_PER_VC  varchar(100)
,@APE_PER_VC  varchar(100)
,@COR_PER_VC varchar(100)
,@COR_COR_VC varchar(100)
,@TEL_PER_VC varchar(20)
,@CEL_COR_VC varchar(20)
,@USU_CRE_IN int
AS
BEGIN
	IF @ID_USU_IN = 0
	BEGIN
		INSERT INTO SEGURIDAD.TBL_USUARIO
           (ID_ROL_IN
           ,ID_TIP_CUE_IN
           ,LOG_USU_VC
           ,PAS_USU_VC
		   ,NRO_DOC_VC
		   ,NOM_PER_VC
		   ,APE_PER_VC
           ,COR_PER_VC
           ,COR_COR_VC
           ,TEL_PER_VC
           ,CEL_COR_VC
		   ,FLG_VER_BO
           ,FLG_EST_BO
           ,USU_CRE_IN
           ,FEC_CRE_DT
           ,TIP_UPD_IN)
		VALUES
           (@ID_ROL_IN
           ,@ID_TIP_CUE_IN
           ,@LOG_USU_VC
           ,@PAS_USU_VC
		   ,@NRO_DOC_VC
		   ,@NOM_PER_VC
		   ,@APE_PER_VC
           ,@COR_PER_VC
           ,@COR_COR_VC
           ,@TEL_PER_VC
           ,@CEL_COR_VC
		   ,1
           ,1
           ,@USU_CRE_IN
           ,GETDATE()
           ,1);

		SET @ID_USU_IN = SCOPE_IDENTITY();
	END ELSE BEGIN
		UPDATE SEGURIDAD.TBL_USUARIO
		SET PAS_USU_VC=@PAS_USU_VC
			,NRO_DOC_VC=@NRO_DOC_VC
			,NOM_PER_VC=@NOM_PER_VC
			,APE_PER_VC=@APE_PER_VC
			,COR_PER_VC=@COR_PER_VC
			,COR_COR_VC=@COR_COR_VC
			,TEL_PER_VC=@TEL_PER_VC
			,CEL_COR_VC=@CEL_COR_VC
			,USU_UPD_IN=@USU_CRE_IN
			,FEC_UPD_DT=GETDATE()
			,TIP_UPD_IN=2
		WHERE ID_USU_IN=@ID_USU_IN;
	END;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SEGURIDAD].[SP_USUARIO_REGISTRAR_VERIFICACION]
@ID_USU_IN int output
,@ID_ROL_IN int
,@ID_TIP_CUE_IN int
,@LOG_USU_VC varchar(100)
,@PAS_USU_VC varchar(200)
,@NRO_DOC_VC varchar(20)
,@NOM_PER_VC varchar(100)
,@APE_PER_VC varchar(100)
,@COR_PER_VC varchar(100)
,@COR_COR_VC varchar(100)
,@TEL_PER_VC varchar(20)
,@CEL_COR_VC varchar(20)
,@USU_CRE_IN int
AS
BEGIN
	INSERT INTO SEGURIDAD.TBL_USUARIO
           (ID_ROL_IN
           ,ID_TIP_CUE_IN
           ,LOG_USU_VC
           ,PAS_USU_VC
           ,NRO_DOC_VC
           ,NOM_PER_VC
           ,APE_PER_VC
           ,COR_PER_VC
           ,COR_COR_VC
           ,TEL_PER_VC
           ,CEL_COR_VC
           ,FLG_EST_BO
           ,USU_CRE_IN
		   ,FEC_CRE_DT
           ,TIP_UPD_IN)
     VALUES
           (@ID_ROL_IN
           ,@ID_TIP_CUE_IN
           ,@LOG_USU_VC
           ,@PAS_USU_VC
           ,@NRO_DOC_VC
           ,@NOM_PER_VC
           ,@APE_PER_VC
           ,@COR_PER_VC
           ,@COR_COR_VC
           ,@TEL_PER_VC
           ,@CEL_COR_VC
           ,1
           ,1
           ,GETDATE()
           ,1);

	SET @ID_USU_IN=SCOPE_IDENTITY();
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SEGURIDAD].[SP_USUARIO_VALIDAR_CORREO]
@ID_USU_IN INT
AS
BEGIN
	UPDATE SEGURIDAD.TBL_USUARIO
	SET FLG_VER_BO=1,--USUARIO VERIFICADO
	ID_ROL_IN=2,--MODIFICA EL PERFIL DEMO A CLIENTE
	TIP_UPD_IN=2,
	USU_UPD_IN=@ID_USU_IN,
	FEC_UPD_DT=GETDATE()
	WHERE ID_USU_IN=@ID_USU_IN;
END;
GO
USE [master]
GO
