/*RESPONSIVE IPAD/TABLET/IPHONEX(HORIZONTAL) */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1335px) {
}

/*RESPONSIVE IPAD/TABLET/IPHONEX(HORIZONTAL) */
@media only screen and (min-device-width : 816px) and (max-device-width : 1023px) {
    html body .blankpage-form-field {
        position: relative !important;
        top: 235px !important;
    }
}

/*RESPONSIVE IPAD/TABLET/ (VERTIRCAL) IPHONEX(HORIZONTAL) */
@media only screen and (min-device-width : 812px) and (max-device-width : 815px) {
    html body .blankpage-form-field {
        position: relative !important;
        top: 235px !important;
    }
}

/*RESPONSIVE IPAD/TABLET/ (VERTIRCAL) IPHONEX(HORIZONTAL) */
@media only screen and (min-device-width : 768px) and (max-device-width : 811px) {
    html body .blankpage-form-field {
        width: 365px !important;
        font-size: 19px !important;
    }
    .mobile > .blankpage-form-field > .page-logo > a > span {
        padding-left: 102px !important;
        font-size: 18px !important;
    }
    .mobile > .blankpage-form-field > .card.p-4 > .form-group.text-center > button {
        font-size: 19px !important;
    }
    .mobile > .blankpage-form-field > .card.p-4 > .blankpage-footer > a {
        font-size: 22px !important;
    }
}

/*RESPONSIVE IPHONE 6/7/8 PLUS (HORIZONTAL) */
@media only screen and (min-device-width : 736px) and (max-device-width : 767px) {
    html body .blankpage-form-field {
        position: relative !important;
        top: 235px !important;
    }
}

/*RESPONSIVE IPHONE 6/7/8 (HORIZONTAL) */
@media only screen and (min-device-width: 667px) and (max-device-width: 735px) {
    html body .blankpage-form-field {
        position: relative !important;
        top: 235px !important;
    }
}

/*RESPONSIVE GALAXY/PIXEL (HORIZONTAL) */
@media only screen and (min-device-width: 570px) and (max-device-width: 666px) {
    html body .blankpage-form-field {
        position: relative !important;
        top: 235px !important;
    }
}

/*RESPONSIVE IPHONE 5 (HORIZONTAL) */
@media only screen and (min-device-width: 421px) and (max-device-width: 569px) {
    html body .blankpage-form-field {
        position: relative !important;
        top: 235px !important;
    }
}

/*RESPONSIVE IPHONE 5/ 6/7/8 /PLUS /X - IOs (VERTICAL) */
@media only screen and (min-device-width: 320px) and (max-device-width: 420px) {
    html body .blankpage-form-field {
        width: 272px !important;
    }
    .mobile > .blankpage-form-field > .page-logo > a > span {
        padding-left: 40px !important;
    }
}
