@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .about-style-four {
        padding: 152px 30px 115px 30px !important;
    }
    .industries-section {
        padding: 125px 30px 90px 30px !important;
    }
    .testimonial-style-two {
        margin: 0px 24px 72px 24px !important;
    }
    .fun-fact {
        padding: 50px 50px 135px 50px !important;
    }
    .about-style-five {
        padding: 110px 30px !important;
    }
    .contact-section.alternate-2 {
        margin-top: 80px !important;
        padding: 0px 30px 65px 30px !important;
    }
    #image_block_03 .image-box {
        padding: 0px 59px 0px 99px !important;
        margin-bottom: 65px !important;
    }
    .sec-title.text-left{
        text-align: center !important;
    }
    .decor {
        display: none;
    }
    #bloque-fun-fact {
        padding: 0px 175px;
        margin-bottom: 15px;
    }
    #image_block_04 {
        margin-top: 50px;
    }
    #imagen-legalidad {
        margin-left: 100px !important;
    }
    #span-medicos {
        padding-bottom: 19px;
    }
    #span-empresarial {
        padding-bottom: 19px;
    }
    #span-automotor {
        padding-bottom: 19px;
    }
    .copyright.pull-left {
        padding-left: 18px;
    }
    .support {
        font-size: 20px !important;
    }
    .social-links.clearfix {
        font-size: 20px !important;
    }
    .header-top.clearfix {
        padding: 18px 0px;
    }
    .header-top .social-links {
        margin-left: -3px !important;
    }
    #iniciar-sesion {
        margin-left: 315px !important;
    }
    #logo-responsive {
        width: 150px !important;
    }
    #button-demo-style {
        display: block !important;
    }
    #button-demo-desk {
        display: none;
    }
    .banner-section > .auto-container > .row > .content-column > .content-box > h1 {
        text-align: center;
    }
    .slider-image-1 .image-1 {
        right: 90px !important;
        top: -5px !important;
    }
    .slider-image-1 .image-5 {
        left: 5px !important;
        top: 33px !important;
    }
    .slider-image-1 .image-4 {
        left: 44px !important;
        bottom: 225px !important;
    }
    .mobile-menu > .menu-box > .mCustomScrollBox > .mCSB_container > .nav-logo {
        text-align: center;
    }

}
