
@{
    ViewBag.Title = "verificarCorreo";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<h2>Correo verificado correctamente, ingrese a <a href="https://localhost:44357/Seguridad/IngresoSistema">DYA</a> para loguearse</h2>

