
@{
    ViewBag.Title = "verificarCorreo";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<div class="page-wrapper">
    <div class="page-inner bg-brand-gradient">
        <div class="page-content-wrapper bg-transparent m-0">
            <nav class="height-10 w-100 shadow-lg px-4" style="background-color: #FFF !important; ">
                <div class="d-flex align-items-center container p-0">
                    <div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9">
                        <a href="https://localhost:44357/" class="page-logo-link" style="margin-right: 150px;">
                            <img src="~/Content/portal/images/logotipos-06.png" alt="" style="width: 80px;">
                        </a>
                    </div>
                    <span class="ml-auto mr-2 hidden-sm-down">
                        ¿Ya tienes usuario?
                    </span>
                    <a href="https://localhost:44357/Seguridad/IngresoSistema" class="ml-auto ml-sm-0">Loguearse</a>
                </div>
            </nav>
            <div class="flex-1" style="background: url(https://localhost:44357/Content/img/svg/pattern-1.svg) no-repeat center bottom fixed; background-size: cover;">
                <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
                    <div class="row">
                        <div class="col-xl-12">
                            <h2 class="fs-xxl fw-500 mt-4 text-white text-center">
                                ¡Muchas gracias! su correo fue verificado correctamente.
                                <small class="h3 fw-300 mt-3 mb-5 text-white opacity-70 hidden-sm-down">
                                    Si en caso tiene alguna consulta envie un correo a consulta@dya.pe.
                                </small>
                            </h2>
                        </div>
                        <div class="col-xl-6 ml-auto mr-auto" style="margin-top: 45px;">
                            <div class="card p-4 rounded-plus bg-faded">
                                <div class="alert alert-primary text-dark" role="alert">
                                    <strong>Su correo fue confirmado correctamente, a partir de ahora ya puede registrarse con su usuario y contraseña.</strong>
                                </div>
                                <a href="https://localhost:44357/Seguridad/IngresoSistema" class="h4" style="margin: 10px 0px;">
                                    <i class="fal fa-chevron-right mr-2"></i> ¿Desea ingresar al sistema DYA?
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>